<a href="https://colab.research.google.com/github/Kjgwo/BigData/blob/main/BigData4%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re

In [ ]:
str = '우리가 만약 Tom과 만나게 되면 Jane은 뭐라고 할까? 윌리엄은? 그러면 picnic은? 그럼 K는?'

In [ ]:
re.findall('[A-Z][a-z]+', str)

In [ ]:
str = "니가 185번 버스를 타고 가다가 130번으로 갈아타면 될 거 같은데, 비용은 1,500원이 들거야"

In [ ]:
print(re.findall('[\d]+', str))

In [ ]:
str = '우리가 만약 Tom과 만나게 되면 jane은 뭐라고 할까? 윌리엄은? 그러면 Edward은? 그럼 Kane은?'

In [ ]:
re_iter = re.finditer('[A-Z][a-z]+', str)
for s in re_iter:
    print(s)

In [ ]:
print(re.match("Tom", "Tom"))

In [ ]:
print(re.match("Tom", "TomTom"))

In [ ]:
print(re.fullmatch("Tom", "Tom"))

In [ ]:
print(re.fullmatch("Tom", "TomTom"))

In [ ]:
str1 = '강'
str2 = '우리나라의 4대 방어선은 압록강, 청천강, 두만강, 임진강이다'

In [ ]:
s = re.split(str1, str2)
for t in  s:
    tt = re.split(' ', t)
    if (len(tt) > 1):
        print(tt[-1]+"강")

In [ ]:
str1 = "Jane"
str2 = "Mary"
str3 = "how can I say to you, Jane"
re.sub(str1, str2, str3)

In [ ]:
from urllib.request import urlopen
import sys
import re
crawling_url = 'http://www.hanbit.co.kr/store/books/full_book_list.html'
response = urlopen(crawling_url)
encoding = response.info().get_content_charset(failobj="utf-8")
text = response.read().decode(encoding)

In [ ]:
for item in re.findall(r'<td.*?</td>', text, re.DOTALL):
    if( re.findall(r'<td class="left">.*?</td>', item, re.DOTALL)):
        res = re.search(r'<a href="(.*?)>', item)
        if ( res != None):
            print("url", item)
        else:
            print("author", item)

In [ ]:
urls = []
titles = []
authors = []
prices = []
dates = []
brands = []

for item in re.findall(r'<td.*?</td?>', text, re.DOTALL):
    if( re.findall(r'<td class="left">.*?</td>', item, re.DOTALL)):
        res = re.search(r'<a href="(.*?)>', item)
        if( res != None):
            url = re.search(r'<a href="(.*?)>', item).group(1)
            url = "https://www.hanbit.co.kr" + url
            urls.append(url)
            title = re.sub(r'<.*?>', '', item)
            titles.append(title)
            print("url", url)
            print("title", title)
        else:
            author = re.sub(r'<.*?>', '', item)
            authors.append(author)
            print("author", author)
    if( re.findall(r'<td>.*?</td>', item, re.DOTALL)):
        date = re.sub(r'<.*?>', '', item)
        dates.append(date)
        print("date", date)
    if( re.findall(r'<td class="right">.*?</td>', item, re.DOTALL)):
        price = re.sub(r'<.*?>', '', item)
        prices.append(price)
        print("price", price)
    if( re.findall(r'<td class="brd_.*">.*?</td>', item, re.DOTALL)):
        brand = re.sub(r'<.*?>', '', item)
        brands.append(brand)
        print("brand", brand)

In [ ]:
import pandas as pd
df = pd.DataFrame(
    {
        "URL": urls,
        "TITLE": titles,
        "AUTHOR": authors,
        "DATE": dates,
        "PRICE": prices,
        "BRAND": brands
    }
)
df