<a href="https://colab.research.google.com/github/Kjgwo/BigData/blob/main/BigData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame (np.random.randn(10,10))

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9
0,0.059182,0.199286,-0.548130,-0.802932,0.386323,0.303541,-0.024574,0.002594,0.075207,0.056878
1,-1.604334,0.452251,0.828336,1.018850,1.437039,-0.749541,1.904365,-0.029457,-0.859590,0.405089
2,1.675380,-0.067605,-0.315588,-0.366115,0.064816,0.575471,-0.773281,-0.234311,0.552829,0.088669
3,-0.035264,-1.122739,0.836490,0.614428,-0.073913,-1.572240,0.260922,-0.416686,-0.583330,0.991950
4,1.465314,0.665136,0.547408,0.116452,1.075915,0.498122,0.891715,-0.947771,-1.682706,-0.685402
5,2.354860,-1.001342,1.185007,-0.547970,0.049482,0.275824,1.746646,-1.855056,-0.477579,-0.083446
6,0.055937,1.454071,-0.000002,-1.352644,-0.455153,-1.359082,-1.408618,-1.153054,0.190997,0.375351
7,1.084660,-1.775356,-0.859789,1.463080,0.662275,-0.389082,0.648902,1.728805,0.507045,0.980535
8,1.125260,1.525030,-1.653032,-1.172619,0.953190,1.647650,0.243761,0.853906,0.338956,-1.935501
9,0.342980,-2.656369,-0.777035,-2.696930,-0.988777,-1.070887,-0.218275,-0.565403,0.067311,-0.164946

In [ ]:
index = pd.date_range("2000-01-01", periods = 10, freq="D")

In [ ]:
index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(
    np.random.randn(10 ,3), index, columns=['A', 'B', 'C']
)

In [ ]:
df

                   A         B         C
2000-01-01  1.847839  2.506904  0.992916
2000-01-02 -0.683199 -0.761413 -2.806104
2000-01-03 -0.715076 -0.388588 -1.705331
2000-01-04  0.027784 -1.168388  0.426898
2000-01-05  0.502160  1.215829 -1.186572
2000-01-06 -0.129063  0.417382  0.858603
2000-01-07 -0.824836  0.633247  0.078821
2000-01-08  0.710420  0.105414 -0.693788
2000-01-09  0.130515 -1.478276  0.339169
2000-01-10  1.009723  0.838832  1.326425

In [ ]:
df = pd.DataFrame(
    {"A": [1.0, np.nan, 3.0, 5.0, np.nan],
     "B": [np.nan, 2.0, 3.0, np.nan, 6.0]
     }
)

In [ ]:
df

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

In [ ]:
df2 = pd.DataFrame(
    [[5.0, 2.0, 5.0, np.nan, 3.0, 7.0],
     [np.nan, np.nan, 3.0, 4.0, 6.0, 8.0]], columns = ["A", "B", "C", "D", "E","F"], 
     index = ["a", "b"]
)

In [ ]:
df

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

In [ ]:
df2 = pd.DataFrame(
    [[1.0, np.nan], [np.nan, 2.0], [3.0, 3.0], [5.0, np.nan], [np.nan, 6.0]], 
    columns=["A", "B"]
)

In [ ]:
df2

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

In [ ]:
df1 = pd.DataFrame(
    {
    "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
    "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
    "three": pd.Series(np.random.randn(3), index=["b", "c", "d"])
    }
)

In [ ]:
df1

        one       two     three
a -1.056658 -1.952769       NaN
b  0.049184  0.264170  0.410132
c -0.524593  2.539905 -0.502027
d       NaN  0.384092 -0.243401

In [ ]:
df = pd.DataFrame(
    np.random.randn(10, 4),
    index=pd.date_range("2000-01-01", periods=10, freq='Y'),
    columns = ['A', 'B', 'C', 'D']
)

In [ ]:
df['A']

2000-12-31   -1.767574
2001-12-31    0.149442
2002-12-31    1.711048
2003-12-31   -0.746948
2004-12-31    1.627104
2005-12-31   -0.464705
2006-12-31    0.840937
2007-12-31    0.123600
2008-12-31    0.178435
2009-12-31   -0.726776
Freq: A-DEC, Name: A, dtype: float64

In [ ]:
df[['A', 'C']]

                   A         C
2000-12-31 -1.767574  1.666444
2001-12-31  0.149442 -0.898402
2002-12-31  1.711048 -1.194956
2003-12-31 -0.746948  0.953411
2004-12-31  1.627104  0.092878
2005-12-31 -0.464705 -0.450748
2006-12-31  0.840937  1.925754
2007-12-31  0.123600  0.147777
2008-12-31  0.178435 -1.965560
2009-12-31 -0.726776 -1.390101

In [ ]:
df.loc[:,'A']

2000-12-31   -1.767574
2001-12-31    0.149442
2002-12-31    1.711048
2003-12-31   -0.746948
2004-12-31    1.627104
2005-12-31   -0.464705
2006-12-31    0.840937
2007-12-31    0.123600
2008-12-31    0.178435
2009-12-31   -0.726776
Freq: A-DEC, Name: A, dtype: float64

In [ ]:
df.loc[:,['A', 'C']]

                   A         C
2000-12-31 -1.767574  1.666444
2001-12-31  0.149442 -0.898402
2002-12-31  1.711048 -1.194956
2003-12-31 -0.746948  0.953411
2004-12-31  1.627104  0.092878
2005-12-31 -0.464705 -0.450748
2006-12-31  0.840937  1.925754
2007-12-31  0.123600  0.147777
2008-12-31  0.178435 -1.965560
2009-12-31 -0.726776 -1.390101

In [ ]:
df.iloc[:,0]

2000-12-31   -1.767574
2001-12-31    0.149442
2002-12-31    1.711048
2003-12-31   -0.746948
2004-12-31    1.627104
2005-12-31   -0.464705
2006-12-31    0.840937
2007-12-31    0.123600
2008-12-31    0.178435
2009-12-31   -0.726776
Freq: A-DEC, Name: A, dtype: float64

In [ ]:
df.iloc[:,0:2]

                   A         B
2000-12-31 -1.767574 -0.787134
2001-12-31  0.149442 -1.384715
2002-12-31  1.711048 -0.792299
2003-12-31 -0.746948 -1.394673
2004-12-31  1.627104  1.148524
2005-12-31 -0.464705 -1.869952
2006-12-31  0.840937  1.851526
2007-12-31  0.123600 -0.101074
2008-12-31  0.178435 -0.844355
2009-12-31 -0.726776  0.212433

In [ ]:
df.iloc[:,0:3:2]

                   A         C
2000-12-31 -1.767574  1.666444
2001-12-31  0.149442 -0.898402
2002-12-31  1.711048 -1.194956
2003-12-31 -0.746948  0.953411
2004-12-31  1.627104  0.092878
2005-12-31 -0.464705 -0.450748
2006-12-31  0.840937  1.925754
2007-12-31  0.123600  0.147777
2008-12-31  0.178435 -1.965560
2009-12-31 -0.726776 -1.390101

In [ ]:
df.iloc[0:3:2]

                   A         B         C         D
2000-12-31 -1.767574 -0.787134  1.666444 -0.898711
2002-12-31  1.711048 -0.792299 -1.194956 -0.018847

In [ ]:
df.iloc[3:0:-1]

                   A         B         C         D
2003-12-31 -0.746948 -1.394673  0.953411 -0.244897
2002-12-31  1.711048 -0.792299 -1.194956 -0.018847
2001-12-31  0.149442 -1.384715 -0.898402  1.965291

In [ ]:
df.iloc[0]

A   -1.767574
B   -0.787134
C    1.666444
D   -0.898711
Name: 2000-12-31 00:00:00, dtype: float64

In [ ]:
df.iloc[0:2]

                   A         B         C         D
2000-12-31 -1.767574 -0.787134  1.666444 -0.898711
2001-12-31  0.149442 -1.384715 -0.898402  1.965291

In [ ]:
df.loc["2001-01-01" : "2002-01-01" , "A" : "C"]

                   A         B         C
2001-12-31  0.149442 -1.384715 -0.898402

In [ ]:
df.iloc[2:4, 1:3]

                   B         C
2002-12-31 -0.792299 -1.194956
2003-12-31 -1.394673  0.953411

In [ ]:
df.loc[lambda df: df['A'] > 0, :]

                   A         B         C         D
2001-12-31  0.149442 -1.384715 -0.898402  1.965291
2002-12-31  1.711048 -0.792299 -1.194956 -0.018847
2004-12-31  1.627104  1.148524  0.092878  3.591838
2006-12-31  0.840937  1.851526  1.925754 -0.839740
2007-12-31  0.123600 -0.101074  0.147777  0.176882
2008-12-31  0.178435 -0.844355 -1.965560  1.480750

In [ ]:
df[(df['A'] > 0) & (df['C'] > 0)]

TypeError: ignored

In [ ]:
df.sample()

                 A         B         C         D
2007-12-31  0.1236 -0.101074  0.147777  0.176882

In [ ]:
df.sample (axis=1)

                   B
2000-12-31 -0.787134
2001-12-31 -1.384715
2002-12-31 -0.792299
2003-12-31 -1.394673
2004-12-31  1.148524
2005-12-31 -1.869952
2006-12-31  1.851526
2007-12-31 -0.101074
2008-12-31 -0.844355
2009-12-31  0.212433

In [ ]:
df.sample (axis = 0)

                   A         B        C        D
2008-12-31  0.178435 -0.844355 -1.96556  1.48075

In [ ]:
date = pd.date_range('2000-01-01', periods = 10, freq='Y')

In [ ]:
df = pd.DataFrame(
    {
    "A": pd.Series(np.random.randint(0, 10, size = 10), index=date),
    "B": pd.Series(np.random.randint(0, 10, size = 10), index=date),
    "C": pd.Series(np.random.randint(0, 10, size = 10), index=date),
    "D": pd.Series(np.random.randint(0, 10, size = 10), index=date)
    }
)

In [ ]:
df

            A  B  C  D
2000-12-31  7  2  6  8
2001-12-31  4  1  7  9
2002-12-31  0  0  4  3
2003-12-31  0  8  6  3
2004-12-31  8  3  2  9
2005-12-31  3  0  4  6
2006-12-31  8  1  4  8
2007-12-31  8  8  4  1
2008-12-31  6  2  8  4
2009-12-31  4  5  4  4

In [ ]:
df["A"].isin([9])

2000-12-31    False
2001-12-31    False
2002-12-31    False
2003-12-31    False
2004-12-31    False
2005-12-31    False
2006-12-31    False
2007-12-31    False
2008-12-31    False
2009-12-31    False
Freq: A-DEC, Name: A, dtype: bool

In [ ]:
df[df["A"].isin([9])]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [ ]:
(df["A"].isin([9])) | (df["B"].isin([5]))

2000-12-31    False
2001-12-31    False
2002-12-31    False
2003-12-31    False
2004-12-31    False
2005-12-31    False
2006-12-31    False
2007-12-31    False
2008-12-31    False
2009-12-31     True
Freq: A-DEC, dtype: bool

In [ ]:
date = pd.date_range('2000-01-01' , periods = 5, freq='Y')
df = pd.DataFrame(
    {
    "A": pd.Series(np.random.randint(0, 10, size = 5), index=date),
    "B": pd.Series(np.random.randint(0, 10, size = 5), index=date),
    "C": pd.Series(np.random.randint(0, 10, size = 5), index=date),
    "D": pd.Series(np.random.randint(0, 10, size = 5), index=date)
    }
)

In [ ]:
df

            A  B  C  D
2000-12-31  7  0  4  5
2001-12-31  0  6  2  3
2002-12-31  0  5  6  6
2003-12-31  6  5  1  4
2004-12-31  2  3  4  6

In [ ]:
df["E"] = pd.Series(np.random.randint(0, 10, size = 5), index = date)

In [ ]:
df

            A  B  C  D  E
2000-12-31  7  0  4  5  9
2001-12-31  0  6  2  3  8
2002-12-31  0  5  6  6  8
2003-12-31  6  5  1  4  5
2004-12-31  2  3  4  6  7

In [ ]:
df.loc['2005-12-31', :] = [0,0,0,0,0]

In [ ]:
df

              A    B    C    D    E
2000-12-31  7.0  0.0  4.0  5.0  9.0
2001-12-31  0.0  6.0  2.0  3.0  8.0
2002-12-31  0.0  5.0  6.0  6.0  8.0
2003-12-31  6.0  5.0  1.0  4.0  5.0
2004-12-31  2.0  3.0  4.0  6.0  7.0
2005-12-31  0.0  0.0  0.0  0.0  0.0

In [ ]:
df - pd.DataFrame(
    np.random.randn(10, 4),
    index = pd.date_range("2000-01-01", periods = 10, freq = 'Y'),
    columns = ['A', 'B', 'C', 'D']
)

                   A         B         C         D   E
2000-12-31  6.196519 -1.321172  4.342625  5.425334 NaN
2001-12-31  2.600796  6.914789  3.278049  4.075870 NaN
2002-12-31  0.442301  6.048597  6.448789  6.618272 NaN
2003-12-31  5.343858  3.200530  0.036646  4.595231 NaN
2004-12-31  1.671874  3.043331  3.314885  6.058063 NaN
2005-12-31  0.618598  0.258370  0.177908 -1.463562 NaN
2006-12-31       NaN       NaN       NaN       NaN NaN
2007-12-31       NaN       NaN       NaN       NaN NaN
2008-12-31       NaN       NaN       NaN       NaN NaN
2009-12-31       NaN       NaN       NaN       NaN NaN

In [ ]:
df.insert(1, 'AA', pd.Series(np.random.randn(10), index = pd.date_range("2000-01-01", periods=10, freq = 'Y'),
))

In [ ]:
df

              A        AA    B    C    D    E
2000-12-31  7.0  1.217602  0.0  4.0  5.0  9.0
2001-12-31  0.0  0.140470  6.0  2.0  3.0  8.0
2002-12-31  0.0 -0.166016  5.0  6.0  6.0  8.0
2003-12-31  6.0 -0.493391  5.0  1.0  4.0  5.0
2004-12-31  2.0 -1.069372  3.0  4.0  6.0  7.0
2005-12-31  0.0  0.344588  0.0  0.0  0.0  0.0

In [ ]:
df.drop('AA', axis = 1)

              A    B    C    D    E
2000-12-31  7.0  0.0  4.0  5.0  9.0
2001-12-31  0.0  6.0  2.0  3.0  8.0
2002-12-31  0.0  5.0  6.0  6.0  8.0
2003-12-31  6.0  5.0  1.0  4.0  5.0
2004-12-31  2.0  3.0  4.0  6.0  7.0
2005-12-31  0.0  0.0  0.0  0.0  0.0

In [ ]:
df

              A        AA    B    C    D    E
2000-12-31  7.0  1.217602  0.0  4.0  5.0  9.0
2001-12-31  0.0  0.140470  6.0  2.0  3.0  8.0
2002-12-31  0.0 -0.166016  5.0  6.0  6.0  8.0
2003-12-31  6.0 -0.493391  5.0  1.0  4.0  5.0
2004-12-31  2.0 -1.069372  3.0  4.0  6.0  7.0
2005-12-31  0.0  0.344588  0.0  0.0  0.0  0.0

In [ ]:
date = pd.date_range("2000-01-01", periods = 6, freq = 'Y')

In [ ]:
df = pd.DataFrame(
    {
    "A": pd.Series(np.random.randint(0, 10, size = 6), index=date),
    "B": pd.Series(np.random.randint(0, 10, size = 6), index=date),
    "C": pd.Series(np.random.randint(0, 10, size = 6), index=date),
    "D": pd.Series(np.random.randint(0, 10, size = 6), index=date),
    "E": pd.Series(np.random.randint(0, 10, size = 6), index=date)
    }
)

In [ ]:
df

            A  B  C  D  E
2000-12-31  1  0  7  8  9
2001-12-31  1  5  6  2  0
2002-12-31  0  7  8  7  9
2003-12-31  8  7  1  7  1
2004-12-31  8  0  8  7  3
2005-12-31  8  8  5  5  4

In [ ]:
df['A'] = [1,1,1,1,1,1]

In [ ]:
df

            A  B  C  D  E
2000-12-31  1  0  7  8  9
2001-12-31  1  5  6  2  0
2002-12-31  1  7  8  7  9
2003-12-31  1  7  1  7  1
2004-12-31  1  0  8  7  3
2005-12-31  1  8  5  5  4

In [ ]:
df.iloc[:,4] = [4,4,4,4,4,4]

In [ ]:
df

            A  B  C  D  E
2000-12-31  1  0  7  8  4
2001-12-31  1  5  6  2  4
2002-12-31  1  7  8  7  4
2003-12-31  1  7  1  7  4
2004-12-31  1  0  8  7  4
2005-12-31  1  8  5  5  4

In [ ]:
df.loc['2000-12-31',:] = [2,2,2,2,2]

In [ ]:
df

            A  B  C  D  E
2000-12-31  2  2  2  2  2
2001-12-31  1  5  6  2  4
2002-12-31  1  7  8  7  4
2003-12-31  1  7  1  7  4
2004-12-31  1  0  8  7  4
2005-12-31  1  8  5  5  4

In [ ]:
df.iloc[1:3, 1:3] = [100, 100], [100, 100]

In [ ]:
df

            A    B    C  D  E
2000-12-31  2    2    2  2  2
2001-12-31  1  100  100  2  4
2002-12-31  1  100  100  7  4
2003-12-31  1    7    1  7  4
2004-12-31  1    0    8  7  4
2005-12-31  1    8    5  5  4

In [ ]:
df.iat[1,1] == 1000

False

In [ ]:
df

            A    B    C  D  E
2000-12-31  2    2    2  2  2
2001-12-31  1  100  100  2  4
2002-12-31  1  100  100  7  4
2003-12-31  1    7    1  7  4
2004-12-31  1    0    8  7  4
2005-12-31  1    8    5  5  4

In [ ]:
df.iat[1,1] =1000

In [ ]:
df

            A     B    C  D  E
2000-12-31  2     2    2  2  2
2001-12-31  1  1000  100  2  4
2002-12-31  1   100  100  7  4
2003-12-31  1     7    1  7  4
2004-12-31  1     0    8  7  4
2005-12-31  1     8    5  5  4

In [ ]:
df.at['2000-12-31' , 'A'] = 10000

In [ ]:
df

                A     B    C  D  E
2000-12-31  10000     2    2  2  2
2001-12-31      1  1000  100  2  4
2002-12-31      1   100  100  7  4
2003-12-31      1     7    1  7  4
2004-12-31      1     0    8  7  4
2005-12-31      1     8    5  5  4

In [ ]:
date = pd.date_range('2000-01-01', periods = 5, freq = 'Y')
df = pd.DataFrame(
    {
     "A": pd.Series(np.random.randint(0, 10, size = 5), index = date),
     "B": pd.Series(np.random.randint(0, 10, size = 5), index = date),
     "C": pd.Series(np.random.randint(0, 10, size = 5), index = date),
     "D": pd.Series(np.random.randint(0, 10, size = 5), index = date)
    }
)

In [ ]:
df.drop('2000-12-31', axis = 0)

            A  B  C  D
2001-12-31  6  2  4  4
2002-12-31  3  2  7  0
2003-12-31  2  4  6  5
2004-12-31  7  3  4  3

In [ ]:
df

            A  B  C  D
2000-12-31  4  2  2  7
2001-12-31  6  2  4  4
2002-12-31  3  2  7  0
2003-12-31  2  4  6  5
2004-12-31  7  3  4  3

In [ ]:
df.drop('2000-12-31')

            A  B  C  D
2001-12-31  6  2  4  4
2002-12-31  3  2  7  0
2003-12-31  2  4  6  5
2004-12-31  7  3  4  3

In [ ]:
df.drop('A', axis=1)

            B  C  D
2000-12-31  2  2  7
2001-12-31  2  4  4
2002-12-31  2  7  0
2003-12-31  4  6  5
2004-12-31  3  4  3

In [ ]:
df.drop(['A', 'C'], axis = 1)

            B  D
2000-12-31  2  7
2001-12-31  2  4
2002-12-31  2  0
2003-12-31  4  5
2004-12-31  3  3

In [ ]:
df = pd.DataFrame(
    {
    "A": pd.Series(np.random.randint(0, 10, size=5), index = ['a', 'b,', 'c', 'd', 'e']),
    "B": pd.Series(np.random.randint(0, 10, size=4), index = ['b,', 'c', 'd', 'e']),
    "C": pd.Series(np.random.randint(0, 10, size=3), index = ['a', 'b,', 'c'])
     
    }
)

In [ ]:
df

    A    B    C
a   4  NaN  6.0
b,  0  1.0  6.0
c   7  4.0  1.0
d   4  8.0  NaN
e   6  0.0  NaN

In [ ]:
df.dropna()

    A    B    C
b,  0  1.0  6.0
c   7  4.0  1.0

In [ ]:
df.dropna(axis=1)

    A
a   4
b,  0
c   7
d   4
e   6

In [ ]:
df.fillna(10)

    A     B     C
a   4  10.0   6.0
b,  0   1.0   6.0
c   7   4.0   1.0
d   4   8.0  10.0
e   6   0.0  10.0

In [ ]:
def func (x):
    if (x > 10):
        return 'A'
    else:
        return 'B'

In [ ]:
df1 = df.replace(np.nan, 20)

In [ ]:
df1

    A     B     C
a   4  20.0   6.0
b,  0   1.0   6.0
c   7   4.0   1.0
d   4   8.0  20.0
e   6   0.0  20.0

In [ ]:
df1['B'].apply(func)

a     A
b,    B
c     B
d     B
e     B
Name: B, dtype: object

In [ ]:
df1.iloc[0].apply(func)

A    B
B    A
C    B
Name: a, dtype: object

In [ ]:
date = pd.date_range('2000-01-01', periods=10, freq='Y')
df = pd.DataFrame(
    {
     "A": pd.Series(np.random.randint(0, 10, size = 10), index=date),
     "B": pd.Series(np.random.randint(0, 10, size = 10), index=date),
     "C": pd.Series(np.random.randint(0, 10, size = 10), index=date),
     "D": pd.Series(np.random.randint(0, 10, size = 10), index=date)
    }
)

In [ ]:
df.idxmin(0)

A   2006-12-31
B   2009-12-31
C   2000-12-31
D   2009-12-31
dtype: datetime64[ns]

In [ ]:
df.idxmax(0)

A   2007-12-31
B   2007-12-31
C   2001-12-31
D   2001-12-31
dtype: datetime64[ns]

In [ ]:
df.idxmin(1)

2000-12-31    C
2001-12-31    A
2002-12-31    C
2003-12-31    C
2004-12-31    B
2005-12-31    B
2006-12-31    A
2007-12-31    D
2008-12-31    A
2009-12-31    B
Freq: A-DEC, dtype: object

In [ ]:
df.idxmax(1)

2000-12-31    D
2001-12-31    C
2002-12-31    D
2003-12-31    D
2004-12-31    A
2005-12-31    D
2006-12-31    D
2007-12-31    A
2008-12-31    B
2009-12-31    A
Freq: A-DEC, dtype: object

In [ ]:
date=pd.date_range('2001', periods = 10, freq='Y')
df = pd.DataFrame(
    {
     "A": pd.Series(np.random.randint(0, 10, size = 10), index = date),
     "B": pd.Series(np.random.randint(0, 10, size = 10), index = date),
     "C": pd.Series(np.random.randint(0, 10, size = 10), index = date),
     "D": pd.Series(np.random.randint(0, 10, size = 10), index = date)
    }
)

In [ ]:
df

            A  B  C  D
2001-12-31  1  1  1  2
2002-12-31  9  2  4  1
2003-12-31  4  3  5  3
2004-12-31  7  6  4  6
2005-12-31  4  9  0  4
2006-12-31  4  4  3  1
2007-12-31  6  0  6  1
2008-12-31  5  6  1  1
2009-12-31  9  4  6  7
2010-12-31  5  0  7  8

In [ ]:
df.value_counts()

A  B  C  D
1  1  1  2    1
4  3  5  3    1
   4  3  1    1
   9  0  4    1
5  0  7  8    1
   6  1  1    1
6  0  6  1    1
7  6  4  6    1
9  2  4  1    1
   4  6  7    1
dtype: int64

In [ ]:
df['A'].value_counts()

4    3
9    2
5    2
1    1
7    1
6    1
Name: A, dtype: int64

In [ ]:
df.iloc[0].value_counts()

1    3
2    1
Name: 2001-12-31 00:00:00, dtype: int64

In [ ]:
pd.cut(df['A'], 4)

2001-12-31    (0.992, 3.0]
2002-12-31      (7.0, 9.0]
2003-12-31      (3.0, 5.0]
2004-12-31      (5.0, 7.0]
2005-12-31      (3.0, 5.0]
2006-12-31      (3.0, 5.0]
2007-12-31      (5.0, 7.0]
2008-12-31      (3.0, 5.0]
2009-12-31      (7.0, 9.0]
2010-12-31      (3.0, 5.0]
Freq: A-DEC, Name: A, dtype: category
Categories (4, interval[float64, right]): [(0.992, 3.0] < (3.0, 5.0] < (5.0, 7.0] < (7.0, 9.0]]

In [ ]:
cut1 = pd.cut(df['A'], 4)

In [ ]:
pd.value_counts(cut1)

(3.0, 5.0]      5
(5.0, 7.0]      2
(7.0, 9.0]      2
(0.992, 3.0]    1
Name: A, dtype: int64

In [ ]:
df.mean(0)

A    5.4
B    3.5
C    3.7
D    3.4
dtype: float64

In [ ]:
df.mean(1)

2001-12-31    1.25
2002-12-31    4.00
2003-12-31    3.75
2004-12-31    5.75
2005-12-31    4.25
2006-12-31    3.00
2007-12-31    3.25
2008-12-31    3.25
2009-12-31    6.50
2010-12-31    5.00
Freq: A-DEC, dtype: float64

In [ ]:
df1 = pd.DataFrame(
    {
        "A": ['a00', 'a01', 'a02'],
     "B": ['b00', 'b01', 'b02'],
     "C": ['c00', 'c01', 'c02'],
    },
    index = ['a', 'b', 'c']
)

In [ ]:
df2 = pd.DataFrame(
    {
        "B": ['b00', 'b01', 'b02'],
     "C": ['c00', 'c01', 'c02'],
     "D": ['d00', 'd01', 'd02']
    },
    index = ['b', 'c', 'd']
)

In [ ]:
pd.concat([df1, df2])

     A    B    C    D
0  a00  b00  c00  NaN
1  a01  b01  c01  NaN
2  a02  b02  c02  NaN
0  NaN  b00  c00  d00
1  NaN  b01  c01  d01
2  NaN  b02  c02  d02

In [ ]:
pd.concat([df1, df2])

     A    B    C    D
a  a00  b00  c00  NaN
b  a01  b01  c01  NaN
c  a02  b02  c02  NaN
b  NaN  b00  c00  d00
c  NaN  b01  c01  d01
d  NaN  b02  c02  d02

In [ ]:
pd.concat([df2, df1])

     B    C    D    A
b  b00  c00  d00  NaN
c  b01  c01  d01  NaN
d  b02  c02  d02  NaN
a  b00  c00  NaN  a00
b  b01  c01  NaN  a01
c  b02  c02  NaN  a02

In [ ]:
pd.concat([df1, df2], axis = 1)

     A    B    C    B    C    D
a  a00  b00  c00  NaN  NaN  NaN
b  a01  b01  c01  b00  c00  d00
c  a02  b02  c02  b01  c01  d01
d  NaN  NaN  NaN  b02  c02  d02

In [ ]:
pd.concat([df1, df2], axis = 1, join = "inner")

     A    B    C    B    C    D
b  a01  b01  c01  b00  c00  d00
c  a02  b02  c02  b01  c01  d01

In [ ]:
pd.concat([df1, df2], axis = 1, join = "outer")

     A    B    C    B    C    D
a  a00  b00  c00  NaN  NaN  NaN
b  a01  b01  c01  b00  c00  d00
c  a02  b02  c02  b01  c01  d01
d  NaN  NaN  NaN  b02  c02  d02

In [ ]:
df1 = pd.DataFrame(
    {
        "key": ['k0', 'k1', 'k2', 'k3'],
     "A": ['a00', 'a01', 'a02', 'a03'],
     "B": ['a10', 'a11', 'a12', 'a13'],
    }
)

In [ ]:
df2 = pd.DataFrame(
    {
        "key": ['k1', 'k2', 'k3', 'k4'],
     "C": ['b00', 'b01', 'b02', 'b03'],
     "D": ['b10', 'b11', 'b12', 'b13'],
    }
)

In [ ]:
pd.merge(df1, df2, on = "key")

  key    A    B    C    D
0  k1  a01  a11  b00  b10
1  k2  a02  a12  b01  b11
2  k3  a03  a13  b02  b12

In [ ]:
df1

  key    A    B
0  k0  a00  a10
1  k1  a01  a11
2  k2  a02  a12
3  k3  a03  a13

In [ ]:
df2

  key    C    D
0  k0  b00  b10
1  k1  b01  b11
2  k2  b02  b12
3  k3  b03  b13

In [ ]:
pd.marge(df1, df2, on = "key")

NameError: ignored

In [ ]:
-----------------4-------------------

SyntaxError: ignored

In [ ]:
from urllib.request import urlopen
import sys
crawling_url = 'http://www.hanbit.co.kr/store/books/full_book_list.html'
response = urlopen(crawling_url)
encoding =response.info().get_content_charset(failobj="utf-8")
text = response.read().decode(encoding)
print("encoding:", encoding, file=sys.stderr)
print(text)

<!DOCTYPE html>
<html lang="ko">
<head>
<!--[if lte IE 8]>
<script>
  location.replace('/support/explorer_upgrade.html');
</script>
<![endif]-->
<meta charset="utf-8"/>
<title></title>
<link rel="shortcut icon" href="https://www.hanbit.co.kr/images/common/hanbit.ico">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta property="og:type" content="website"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="  ,        :: , , , , "/>
<meta property="og:image" content="https://www.hanbit.co.kr/images/hanbitpubnet_logo.jpg" />
<meta property="og:url" content="https://www.hanbit.co.kr/store/books/full_book_list.html"/>
<link rel="canonical" href="https://www.hanbit.co.kr/store/books/full_book_list.html" />
<meta name="keywords" content=",,,,,,,,,IT,IT,,,/,/,,,,,,ebook," />
<meta name="description" content="  ,        :: , , , , " />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<meta name="viewport" content="width=1260">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="naver-site-verification" content="01c29ed1852aecca7a48ac0c3e0869627bc512d8"/>
<link rel="stylesheet" href="/css/common.css?20210603093421" />
<link href="/css/hover.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="/js/jquery.raty.css" />
<script type="text/javascript" src="/js/jquery-latest.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/jquery.event.drag-1.5.min.js"></script>
<script type="text/javascript" src="/js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="/js/jquery.raty.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/lib/cheditor/cheditor.js"></script>
<script type="text/javascript" src="/js/jquery.ui.datepicker-ko.js"></script>
<script type="text/javascript" src="/js/engine.js"></script>
<script type="text/javascript" src="/js/vue.js"></script>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-47080738-1', 'hanbit.co.kr');
ga('require', 'linkid', 'linkid.js');
ga('send', 'pageview');
</script>
<!-- Google Analytics -->

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '406459623338891');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=406459623338891&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W9D5PM3');</script>
<!-- End Google Tag Manager -->

<!-- Kakao Pixel Code -->
<script type="text/javascript" charset="UTF-8" src="//t1.daumcdn.net/adfit/static/kp.js"></script>
<script type="text/javascript">
  kakaoPixel('3011392806152551233').pageView();
</script>
<!-- //Kakao Pixel Code -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9D5PM3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<link rel="stylesheet" href="/css/layout-hanbit.css?202107291450" />
<link rel="stylesheet" href="/css/layout-member.css" />
<link rel="stylesheet" href="/css/layout-network.css" />
<link rel="stylesheet" href="/css/layout-store.css" />
<link rel="stylesheet" href="/css/layout-myhanbit.css" />
<link rel="stylesheet" href="/css/layout-event.css" />
<!--   -->
<div id="quick_skip_menu">
  <a href="#gnb" onclick="document.getElementById('gnb').tabIndex = -1;document.getElementById('gnb').focus();return false;"><span> </span></a>
  <a href="#top_search" onclick="view_hover('main_search_area','','show'), document.getElementById('top_search').tabIndex = -1;document.getElementById('top_search').focus();return false;"><span>   </span></a>
    <a href="#container" onclick="document.getElementById('container').tabIndex = -1;document.getElementById('container').focus();return false;"><span> </span></a>
  </div>
<!-- //  -->

<!-- header -->
<header>
  <!-- top menu -->
    <nav>
    <div id="wrap_nav">
      <ul class="top_brand">
        <li><a href="https://www.hanbit.co.kr/index.html" name="hanbit_network"><span>HOME</span></a></li>
        <li><a href="https://www.hanbit.co.kr/media/"></a></li>
        <li><a href="https://www.hanbit.co.kr/academy/"></a></li>
        <li><a href="https://www.hanbit.co.kr/biz/"></a></li>
        <li><a href="https://www.hanbit.co.kr/life/"></a></li>
        <li><a href="https://www.hanbit.co.kr/edu/"></a></li>
        <li><a href="https://www.hanbit.co.kr/realtime/"></a></li>
        <li><a href="https://www.hanbit.co.kr/textbook/" target="_blank"></a></li>
        <li><a href="https://www.hanbit.co.kr/rent/" target="_blank"></a></li>
      </ul>

      <ul class="top_menu">
                <li><a href="https://www.hanbit.co.kr/member/login.html" class="login"></a></li>
        <li><a href="https://www.hanbit.co.kr/member/member_agree.html" class="join"></a></li>
        <li><a href="https://www.hanbit.co.kr/myhanbit/myhanbit.html" class="myhanbit"></a></li>
        <li><a href="https://www.hanbit.co.kr/myhanbit/cart.html" class="cart"></a></li>
                    <li class="top_menu_store"><a href="https://www.hanbit.co.kr/publisher/foreignrights.html?lang=e" target="_blank">ENGLISH</a></li>
      </ul>
    </div>
  </nav>
  <!-- //top menu -->

  <div id="wrap_gnb">
    <!-- logo -->
    <h1><a href="https://www.hanbit.co.kr/index.html"></a></h1>
    <!-- //logo -->

    <!-- Menu -->
    <div id="gnb" name="gnb">
      <ul>
        <li><a href="https://www.hanbit.co.kr/brand/brand_submain.html" class="">BRAND</a></li>
        <li><a href="https://www.hanbit.co.kr/channel/channel_submain.html" class="">Channel.H</a></li>
        <li><a href="https://www.hanbit.co.kr/store/store_submain.html" class="curr">STORE</a></li>
        <li><a href="https://www.hanbit.co.kr/support/help_info.html" class="">SUPPORT</a></li>
        <li><a href="https://www.hanbit.co.kr/event/current/current_event_list.html" class="">EVENT</a></li>

        <li><a href="https://www.hanbit.co.kr/publisher/foreignrights.html?lang=e" class="" target="_blank">RIGHTS</a></li>

        <li id="top_search" class="search"><a href="javascript:;" onClick="view_hover('main_search_area','','show'); $('#keyword_str').focus();"><span>SEARCH</span></a></li>
      </ul>
    </div>
    <!-- //Menu -->

    <!-- lnb -->
    <div class="lnb" style="top:92px;">
      <div class="lnb_area">
      <!-- BRAND -->
            <ul class="lnb_depth1_category">
        <li onmouseover="view_hover('category_store','','show')" onMouseOut="view_hover('category_store','','hide')"><a href="#" onFocus="view_hover('category_store','','show')" class="gnb_category"></a>
          <ul id="category_store">

                          <li onmouseover="view_hover('category_store1','','show')" onMouseOut="view_hover('category_store1','','hide')"><a href="/store/books/category_list.html?cate_cd=001" onFocus="view_hover('category_store1','','show')">IT/</a>
                <ul id="category_store1">
                              <li><a href="/store/books/category_list.html?cate_cd=001001"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001002"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001003">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001013"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001005"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001014"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001015">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001016"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001009">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001010"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001017">IT</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001012"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001018">/</a></li>
              </ul></li>              <li onmouseover="view_hover('category_store2','','show')" onMouseOut="view_hover('category_store2','','hide')"><a href="/store/books/category_list.html?cate_cd=002" onFocus="view_hover('category_store2','','show')">MAKE</a>
                <ul id="category_store2">
                              <li><a href="/store/books/category_list.html?cate_cd=002002">Make  </a></li>
              </ul></li>              <li onmouseover="view_hover('category_store3','','show')" onMouseOut="view_hover('category_store3','','hide')"><a href="/store/books/category_list.html?cate_cd=003" onFocus="view_hover('category_store3','','show')">IT</a>
                <ul id="category_store3">
                              <li><a href="/store/books/category_list.html?cate_cd=003001">/OA</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=003002">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=003003">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=003004">/IT</a></li>
              </ul></li>              <li onmouseover="view_hover('category_store4','','show')" onMouseOut="view_hover('category_store4','','hide')"><a href="/store/books/category_list.html?cate_cd=004" onFocus="view_hover('category_store4','','show')"></a>
                <ul id="category_store4">
                              <li><a href="/store/books/category_list.html?cate_cd=004003">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004010">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004007"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004004"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004011">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004008">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004009">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004006">OA/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004012">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004005"></a></li>
              </ul></li>              <li onmouseover="view_hover('category_store5','','show')" onMouseOut="view_hover('category_store5','','hide')"><a href="/store/books/category_list.html?cate_cd=006" onFocus="view_hover('category_store5','','show')"></a>
                <ul id="category_store5">
                              <li><a href="/store/books/category_list.html?cate_cd=006001">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=006002"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=006003"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=006004">/</a></li>
              </ul></li>              <li onmouseover="view_hover('category_store6','','show')" onMouseOut="view_hover('category_store6','','hide')"><a href="/store/books/category_list.html?cate_cd=007" onFocus="view_hover('category_store6','','show')">//</a>
                <ul id="category_store6">
                              <li><a href="/store/books/category_list.html?cate_cd=007001">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=007002"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=007003">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=007004"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=007005"></a></li>
              </ul></li>              <li onmouseover="view_hover('category_store7','','show')" onMouseOut="view_hover('category_store7','','hide')"><a href="/store/books/category_list.html?cate_cd=008" onFocus="view_hover('category_store7','','show')">//</a>
                <ul id="category_store7">
                              <li><a href="/store/books/category_list.html?cate_cd=008001">4~6</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=008002">5~7</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=008003"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=008004"> 1~12</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=008005"> </a></li>
              </ul></li>

          <!-- <li class="gnb_category_series"><a href="https://www.hanbit.co.kr/store/books/series_list.html"></a></li>
          <li class="gnb_category_reservations"><a href="https://www.hanbit.co.kr/store/books/reservations_list.html"></a></li> -->
        </ul>
      </ul>
      <!--/li-->
      <!--/ul-->

      <ul class="lnb_depth1">
        <li><a href="https://www.hanbit.co.kr/store/books/new_book_list.html"></a></li><span>l</span>
        <li><a href="https://www.hanbit.co.kr/store/books/reservations_list.html"></a></li><span>l</span>
        <li><a href="https://www.hanbit.co.kr/store/books/bestseller_list.html"></a></li><span>l</span>
        <li><a href="https://www.hanbit.co.kr/store/books/full_book_list.html"></a></li><span>l</span>
        <li><a href="https://www.hanbit.co.kr/store/books/series_list.html"></a></li>
        <!-- <li><a href="https://www.hanbit.co.kr/store/education/edu_list.html"></a></li><span>l</span>
        <li><a href="https://www.hanbit.co.kr/store/item/item_list.html">Item &amp; Maker Shed</a></li> -->
      </ul>

      <!-- SUPPORT -->
          </div>
    </div>
    <!--// lnb -->
  </div>
</header>
<!-- //header -->

<!--      -->
<div id="main_search_area" class="fixed" style="display:none;">
  <div class="msa_wrap">

    <!--  -->
    <div class="msa_srch_wrap">
      <form onsubmit="return false;">
      <fieldset class="msa_srch_field">
        <legend> </legend>
        <input title="" autocomplete="off" class="srch_keyword" accesskey="s" type="text" name="keyword_str" id="keyword_str" v-model="keyword" @input="typeKeyword">
        <input type="submit" class="srch_btn" style="cursor:pointer;" @click="clickSearch">
      </fieldset>
      </form>
    </div>
    <!-- // -->

    <!--   -->
    <div class="msa_srch_polular" v-if="showPopularKeyword === true">
      <h2 class="tit">  <span>( 1)</span></h2>
        <div class="popula_box">
          <ul class="left">
            <li v-for="keyword in leftPopularKeywordList">
              <a :class="keyword.bold" @click="clickPopularKeyword(keyword)">
                  {{ keyword.number }} {{ keyword.bookName }}
              </a>
            </li>
          </ul>
          <ul class="right">
            <li v-for="keyword in rightPopularKeywordList">
              <a :class="keyword.bold" @click="clickPopularKeyword(keyword)">
                  {{ keyword.number }} {{ keyword.bookName }}
              </a>
            </li>
          </ul>
        </div>
    </div>
    <!--   -->

    <!--  / -->
    <div class="msa_srch_suggestion" v-if="showPopularKeyword === false">
      <div class="sugg_left" v-if="bookList.length !== 0">
        <h3 class="tit">BOOK</h3>
        <ul class="books_list">
          <li v-for="book in bookList" @mouseover="mouseOverBook(book.id)"><a @click="clickBookKeyword(book)"><p v-html="book.name"></p></a></li>
        </ul>
      </div>

      <div class="sugg_right">
        <div class="sugg_book" v-if="bookList.length !== 0">
          <table class="sugg_book_detail">
            <tr>
              <td class="cover">
                <a @click="clickBookKeyword(bookSummary)">
                  <img :src="bookSummary.imgUrl" class="b_cover">
                </a>
              </td>
              <td class="draft">
                <a @click="clickBookKeyword(bookSummary)" class="b_title"><strong v-html="bookSummary.originName"></strong></a>
                <p class="b_int">
                {{ bookSummary.author }} <br />
                {{ bookSummary.publishingCompany }} | {{ bookSummary.date }}
                </p>
                <p class="b_type">
                <span>{{ bookSummary.bookType }}</span>
                </p>
              </td>
            </tr>
          </table>
        </div>

        <!--
        <div class="sugg_edu" v-if="educationList.length !== 0">
          <h3 class="tit">EDUCATION</h3>
          <ul class="edu_list">
            <li v-for="education in educationList">&#149; <a @click="clickEducationKeyword(education)"><span v-html="education.title"></span></a></li>
          </ul>
        </div>
        -->

        <div class="sugg_cont" v-if="contentList.length !== 0">
          <h3 class="tit">CONTENTS</h3>
          <ul class="cont_list">
            <li v-for="content in contentList">&#149; <a @click="clickContentKeyword(content)"><span v-html="content.title"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- // / -->

  <!--  -->
  <div class="msa_wrap_close">
    <a href="javascript:;" onclick="view_hover('main_search_area','','hide')"></a>
  </div>
  <!-- // -->

  </div>
</div>

<script type="text/javascript">
    "use strict";

    var common_top_search_vue = new Vue({
        el: '#main_search_area',
        data: {
            // URL
            searchProxyURL: "https://search.hanbit.co.kr",
            //  show
            showPopularKeyword: true,
            //
            keyword: '',
            //
            popularKeywordList: [],
            //    ()
            leftPopularKeywordList: [],
            //    ()
            rightPopularKeywordList: [],
            //
            bookList: [],
            //
            bookSummary: {
                'imgUrl': '',
                'link': '',
                'name': '',
                'author': '',
                'publishingCompany': '',
                'date': '',
                'bookType': ''
            },
            //
            educationList: [],
            //
            contentList: []
        },
        created: function created() {
            //
            this.getPopularKeyword();
        },
        methods: {
            /**

encoding: utf-8

In [ ]:
import re
str = '  Tom   Jane  ? ?  picnic?  K?'
#  :   + 1  
re.findall('[A-Z][a-z]+', str)

['Tom', 'Jane']

In [ ]:
import re

In [ ]:
str = " 185    130    ,  1,500 "
print(re.findall('[\d]+', str))

['185', '130', '1', '500']

In [ ]:
print(re.findall ('[\d?]+,[\d]+|[\d]+', str))

['185', '130', '1,500']

In [ ]:
str = '  Tom   jane  ? ?  Edward?  Kane?'
re_iter = re.finditer('[A-Z][a-z]+', str)
for s in re_iter:
    print(s)

<re.Match object; span=(7, 10), match='Tom'>
<re.Match object; span=(43, 49), match='Edward'>
<re.Match object; span=(55, 59), match='Kane'>

In [ ]:
print(re.match("Tom", "Tom"))
print(re.match("Tom", "TomTom"))
print(re.fullmatch("Tom", "Tom"))
print(re.fullmatch("Tom", "TomTom"))

<re.Match object; span=(0, 3), match='Tom'>
<re.Match object; span=(0, 3), match='Tom'>
<re.Match object; span=(0, 3), match='Tom'>
None

In [ ]:
str1 = ""
str2 = " 4  , , , "
s = re.split(str1, str2)
for t in s:
    tt = re.split(' ', t)
    if ( len(tt) > 1):
        print(tt[-1]+"")

In [ ]:
str1 = "Jane"
str2 = "Mary"
str3 = "how can I say to you, Jane"
re.sub(str1, str2, str3)

'how can I say to you, Mary'

In [ ]:
from urllib.request import urlopen

In [ ]:
for item in re.findall(r'<td.*?</td?>', text, re.DOTALL):
    if ( re.findall(r'<td class="left">.*?</td>', item, re.DOTALL)):
        res = re.search(r'<a href="(.*?)>', item)
        if ( res != None):
            print("url", item)
        else:
            print("author", item)

url <td class="left"><a href="/store/books/look.php?p_code=B3855421165">    </a></td>
author <td class="left">   1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5151815130"> </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2707221826">    CC 2022</a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B7121664936">STEM@CookBook, Beer  &#40;3&#41;</a></td>
author <td class="left">Ferdinand P. Beer  4  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B7790361118">3      </a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4309942517">   </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6236324381">STEIN  </a></td>
author <td class="left">ELIAS M. STEIN  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B1102492805"> , </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5538841948">    CC 2022</a></td>
author <td class="left">  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6113501223">   &#40;&#41;</a></td>
author <td class="left">   1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2277305433"> </a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5471282287">  </a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4355310473"> UXer  UX/UI  </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5732906061">   </a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B7239224234">   4</a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2761632078">   SRE</a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B9202577080">  &#40;2&#41;</a></td>
author <td class="left"> ( )  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2736769991">   1 </a></td>
author <td class="left">  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B1793194115">   1 </a></td>
author <td class="left">  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B7678436157">   1  </a></td>
author <td class="left">  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2733383112">   1 &#40;  &#41;</a></td>
author <td class="left">  4  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5654917817">   2 </a></td>
author <td class="left">  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6791524292">   2 </a></td>
author <td class="left">  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4714560494">   2  </a></td>
author <td class="left">  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B9793340053">   2 &#40;  &#41;</a></td>
author <td class="left">  4  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B7184802799">   CC 2022</a></td>
author <td class="left">()   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2195975973"> :  </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B9495853770">   CC 2022</a></td>
author <td class="left">()  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2074362768">  [2022~2023 ]</a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4600453154">  </a></td>
author <td class="left">  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2995989202"> with IFRS</a></td>
author <td class="left">Jerry Weygandt  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4859286751">  WSL</a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6734033518"></a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B1952730042"> Go</a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B3887932883">   &#40;2&#41;</a></td>
author <td class="left">   1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6336443256">     </a></td>
author <td class="left">(wikiwiki)   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6502360410">   </a></td>
author <td class="left"> D.    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5744853316">   13</a></td>
author <td class="left">Michael R. Solomon   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4893899879">   </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B1421228776">    </a></td>
author <td class="left">  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B9351446616">  :     &#40;&#41;</a></td>
author <td class="left">()   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5737482228"> </a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B8214795859">STEIN </a></td>
author <td class="left">ELIAS M. STEIN  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5145465788">  &#40;2022 &#41;</a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5967298171">  [2022~2023 ]</a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B9309356194">  </a></td>
author <td class="left"> (Josh Patterson)  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6947867590">STEM CookBook,    </a></td>
author <td class="left">  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4334124169">IT CookBook,   &#40;2&#41;</a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B3188891806">&#40;3&#41;</a></td>
author <td class="left">Angelo Kinicki   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B7996739022">   &  CC 2022</a></td>
author <td class="left">  3  </td>

In [ ]:
urls = []
titles = []
authors = []
prices = []
dates = []
brands = []

for item in re.findall(r'<td.*?</td?>', text, re.DOTALL):
    # url, title & author
    if ( re.findall(r'<td class="left">.*?</td>', item, re.DOTALL)):
        res = re.search(r'<a href="(.*?)>', item)
        if ( res != None):
            url = re.search(r'<a href="(.*?)>', item).group(1)
            url = "https://www.hanbit.co.kr" + url
            urls.append(url)
            title = re.sub(r'<.*?>', '', item)
            titles.append(title)
            print("url", url)
            print("title", title)
        else:
            author = re.sub(r'<.*?>', '', item)
            authors.append(author)
            print("author", author)
    # date
    if ( re.findall(r'<td>.*?</td>', item, re.DOTALL)):
        date = re.sub(r'<.*?>', '', item)
        dates.append(dates)
        print("date", date)
    # price
    if ( re.findall(r'<td class="right">.*?</td>', item, re.DOTALL)):
        price = re.sub(r'<.*?>', '', item)
        prices.append(price)
        print("price", price)
    # brand
    if ( re.findall(r'<td class="brd_.*">.*?</td>', item, re.DOTALL)):
        brand = re.sub(r'<.*?>', '', item)
        brands.append(brand)
        print("brand", brand)

In [ ]:
import pandas as pd

df = pd.DataFrame (
    {
        "URL": urls,
        "TITLE": titles,
        "AUTHOR": authors,
        "DATE": dates,
        "PRICE": prices,
        "BRAND": brands
    }
)

In [ ]:
df