<a href="https://colab.research.google.com/github/Kjgwo/BigData/blob/main/BigData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame (np.random.randn(10,10))

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9
0,0.059182,0.199286,-0.548130,-0.802932,0.386323,0.303541,-0.024574,0.002594,0.075207,0.056878
1,-1.604334,0.452251,0.828336,1.018850,1.437039,-0.749541,1.904365,-0.029457,-0.859590,0.405089
2,1.675380,-0.067605,-0.315588,-0.366115,0.064816,0.575471,-0.773281,-0.234311,0.552829,0.088669
3,-0.035264,-1.122739,0.836490,0.614428,-0.073913,-1.572240,0.260922,-0.416686,-0.583330,0.991950
4,1.465314,0.665136,0.547408,0.116452,1.075915,0.498122,0.891715,-0.947771,-1.682706,-0.685402
5,2.354860,-1.001342,1.185007,-0.547970,0.049482,0.275824,1.746646,-1.855056,-0.477579,-0.083446
6,0.055937,1.454071,-0.000002,-1.352644,-0.455153,-1.359082,-1.408618,-1.153054,0.190997,0.375351
7,1.084660,-1.775356,-0.859789,1.463080,0.662275,-0.389082,0.648902,1.728805,0.507045,0.980535
8,1.125260,1.525030,-1.653032,-1.172619,0.953190,1.647650,0.243761,0.853906,0.338956,-1.935501
9,0.342980,-2.656369,-0.777035,-2.696930,-0.988777,-1.070887,-0.218275,-0.565403,0.067311,-0.164946

In [ ]:
index = pd.date_range("2000-01-01", periods = 10, freq="D")

In [ ]:
index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(
    np.random.randn(10 ,3), index, columns=['A', 'B', 'C']
)

In [ ]:
df

                   A         B         C
2000-01-01  1.847839  2.506904  0.992916
2000-01-02 -0.683199 -0.761413 -2.806104
2000-01-03 -0.715076 -0.388588 -1.705331
2000-01-04  0.027784 -1.168388  0.426898
2000-01-05  0.502160  1.215829 -1.186572
2000-01-06 -0.129063  0.417382  0.858603
2000-01-07 -0.824836  0.633247  0.078821
2000-01-08  0.710420  0.105414 -0.693788
2000-01-09  0.130515 -1.478276  0.339169
2000-01-10  1.009723  0.838832  1.326425

In [ ]:
df = pd.DataFrame(
    {"A": [1.0, np.nan, 3.0, 5.0, np.nan],
     "B": [np.nan, 2.0, 3.0, np.nan, 6.0]
     }
)

In [ ]:
df

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

In [ ]:
df2 = pd.DataFrame(
    [[5.0, 2.0, 5.0, np.nan, 3.0, 7.0],
     [np.nan, np.nan, 3.0, 4.0, 6.0, 8.0]], columns = ["A", "B", "C", "D", "E","F"], 
     index = ["a", "b"]
)

In [ ]:
df

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

In [ ]:
df2 = pd.DataFrame(
    [[1.0, np.nan], [np.nan, 2.0], [3.0, 3.0], [5.0, np.nan], [np.nan, 6.0]], 
    columns=["A", "B"]
)

In [ ]:
df2

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

In [ ]:
df1 = pd.DataFrame(
    {
    "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
    "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
    "three": pd.Series(np.random.randn(3), index=["b", "c", "d"])
    }
)

In [ ]:
df1

        one       two     three
a -1.056658 -1.952769       NaN
b  0.049184  0.264170  0.410132
c -0.524593  2.539905 -0.502027
d       NaN  0.384092 -0.243401

In [ ]:
df = pd.DataFrame(
    np.random.randn(10, 4),
    index=pd.date_range("2000-01-01", periods=10, freq='Y'),
    columns = ['A', 'B', 'C', 'D']
)

In [ ]:
df['A']

2000-12-31   -1.767574
2001-12-31    0.149442
2002-12-31    1.711048
2003-12-31   -0.746948
2004-12-31    1.627104
2005-12-31   -0.464705
2006-12-31    0.840937
2007-12-31    0.123600
2008-12-31    0.178435
2009-12-31   -0.726776
Freq: A-DEC, Name: A, dtype: float64

In [ ]:
df[['A', 'C']]

                   A         C
2000-12-31 -1.767574  1.666444
2001-12-31  0.149442 -0.898402
2002-12-31  1.711048 -1.194956
2003-12-31 -0.746948  0.953411
2004-12-31  1.627104  0.092878
2005-12-31 -0.464705 -0.450748
2006-12-31  0.840937  1.925754
2007-12-31  0.123600  0.147777
2008-12-31  0.178435 -1.965560
2009-12-31 -0.726776 -1.390101

In [ ]:
df.loc[:,'A']

2000-12-31   -1.767574
2001-12-31    0.149442
2002-12-31    1.711048
2003-12-31   -0.746948
2004-12-31    1.627104
2005-12-31   -0.464705
2006-12-31    0.840937
2007-12-31    0.123600
2008-12-31    0.178435
2009-12-31   -0.726776
Freq: A-DEC, Name: A, dtype: float64

In [ ]:
df.loc[:,['A', 'C']]

                   A         C
2000-12-31 -1.767574  1.666444
2001-12-31  0.149442 -0.898402
2002-12-31  1.711048 -1.194956
2003-12-31 -0.746948  0.953411
2004-12-31  1.627104  0.092878
2005-12-31 -0.464705 -0.450748
2006-12-31  0.840937  1.925754
2007-12-31  0.123600  0.147777
2008-12-31  0.178435 -1.965560
2009-12-31 -0.726776 -1.390101

In [ ]:
df.iloc[:,0]

2000-12-31   -1.767574
2001-12-31    0.149442
2002-12-31    1.711048
2003-12-31   -0.746948
2004-12-31    1.627104
2005-12-31   -0.464705
2006-12-31    0.840937
2007-12-31    0.123600
2008-12-31    0.178435
2009-12-31   -0.726776
Freq: A-DEC, Name: A, dtype: float64

In [ ]:
df.iloc[:,0:2]

                   A         B
2000-12-31 -1.767574 -0.787134
2001-12-31  0.149442 -1.384715
2002-12-31  1.711048 -0.792299
2003-12-31 -0.746948 -1.394673
2004-12-31  1.627104  1.148524
2005-12-31 -0.464705 -1.869952
2006-12-31  0.840937  1.851526
2007-12-31  0.123600 -0.101074
2008-12-31  0.178435 -0.844355
2009-12-31 -0.726776  0.212433

In [ ]:
df.iloc[:,0:3:2]

                   A         C
2000-12-31 -1.767574  1.666444
2001-12-31  0.149442 -0.898402
2002-12-31  1.711048 -1.194956
2003-12-31 -0.746948  0.953411
2004-12-31  1.627104  0.092878
2005-12-31 -0.464705 -0.450748
2006-12-31  0.840937  1.925754
2007-12-31  0.123600  0.147777
2008-12-31  0.178435 -1.965560
2009-12-31 -0.726776 -1.390101

In [ ]:
df.iloc[0:3:2]

                   A         B         C         D
2000-12-31 -1.767574 -0.787134  1.666444 -0.898711
2002-12-31  1.711048 -0.792299 -1.194956 -0.018847

In [ ]:
df.iloc[3:0:-1]

                   A         B         C         D
2003-12-31 -0.746948 -1.394673  0.953411 -0.244897
2002-12-31  1.711048 -0.792299 -1.194956 -0.018847
2001-12-31  0.149442 -1.384715 -0.898402  1.965291

In [ ]:
df.iloc[0]

A   -1.767574
B   -0.787134
C    1.666444
D   -0.898711
Name: 2000-12-31 00:00:00, dtype: float64

In [ ]:
df.iloc[0:2]

                   A         B         C         D
2000-12-31 -1.767574 -0.787134  1.666444 -0.898711
2001-12-31  0.149442 -1.384715 -0.898402  1.965291

In [ ]:
df.loc["2001-01-01" : "2002-01-01" , "A" : "C"]

                   A         B         C
2001-12-31  0.149442 -1.384715 -0.898402

In [ ]:
df.iloc[2:4, 1:3]

                   B         C
2002-12-31 -0.792299 -1.194956
2003-12-31 -1.394673  0.953411

In [ ]:
df.loc[lambda df: df['A'] > 0, :]

                   A         B         C         D
2001-12-31  0.149442 -1.384715 -0.898402  1.965291
2002-12-31  1.711048 -0.792299 -1.194956 -0.018847
2004-12-31  1.627104  1.148524  0.092878  3.591838
2006-12-31  0.840937  1.851526  1.925754 -0.839740
2007-12-31  0.123600 -0.101074  0.147777  0.176882
2008-12-31  0.178435 -0.844355 -1.965560  1.480750

In [ ]:
df[(df['A'] > 0) & (df['C'] > 0)]

TypeError: ignored

In [ ]:
df.sample()

                 A         B         C         D
2007-12-31  0.1236 -0.101074  0.147777  0.176882

In [ ]:
df.sample (axis=1)

                   B
2000-12-31 -0.787134
2001-12-31 -1.384715
2002-12-31 -0.792299
2003-12-31 -1.394673
2004-12-31  1.148524
2005-12-31 -1.869952
2006-12-31  1.851526
2007-12-31 -0.101074
2008-12-31 -0.844355
2009-12-31  0.212433

In [ ]:
df.sample (axis = 0)

                   A         B        C        D
2008-12-31  0.178435 -0.844355 -1.96556  1.48075

In [ ]:
date = pd.date_range('2000-01-01', periods = 10, freq='Y')

In [ ]:
df = pd.DataFrame(
    {
    "A": pd.Series(np.random.randint(0, 10, size = 10), index=date),
    "B": pd.Series(np.random.randint(0, 10, size = 10), index=date),
    "C": pd.Series(np.random.randint(0, 10, size = 10), index=date),
    "D": pd.Series(np.random.randint(0, 10, size = 10), index=date)
    }
)

In [ ]:
df

            A  B  C  D
2000-12-31  7  2  6  8
2001-12-31  4  1  7  9
2002-12-31  0  0  4  3
2003-12-31  0  8  6  3
2004-12-31  8  3  2  9
2005-12-31  3  0  4  6
2006-12-31  8  1  4  8
2007-12-31  8  8  4  1
2008-12-31  6  2  8  4
2009-12-31  4  5  4  4

In [ ]:
df["A"].isin([9])

2000-12-31    False
2001-12-31    False
2002-12-31    False
2003-12-31    False
2004-12-31    False
2005-12-31    False
2006-12-31    False
2007-12-31    False
2008-12-31    False
2009-12-31    False
Freq: A-DEC, Name: A, dtype: bool

In [ ]:
df[df["A"].isin([9])]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [ ]:
(df["A"].isin([9])) | (df["B"].isin([5]))

2000-12-31    False
2001-12-31    False
2002-12-31    False
2003-12-31    False
2004-12-31    False
2005-12-31    False
2006-12-31    False
2007-12-31    False
2008-12-31    False
2009-12-31     True
Freq: A-DEC, dtype: bool

In [ ]:
date = pd.date_range('2000-01-01' , periods = 5, freq='Y')
df = pd.DataFrame(
    {
    "A": pd.Series(np.random.randint(0, 10, size = 5), index=date),
    "B": pd.Series(np.random.randint(0, 10, size = 5), index=date),
    "C": pd.Series(np.random.randint(0, 10, size = 5), index=date),
    "D": pd.Series(np.random.randint(0, 10, size = 5), index=date)
    }
)

In [ ]:
df

            A  B  C  D
2000-12-31  7  0  4  5
2001-12-31  0  6  2  3
2002-12-31  0  5  6  6
2003-12-31  6  5  1  4
2004-12-31  2  3  4  6

In [ ]:
df["E"] = pd.Series(np.random.randint(0, 10, size = 5), index = date)

In [ ]:
df

            A  B  C  D  E
2000-12-31  7  0  4  5  9
2001-12-31  0  6  2  3  8
2002-12-31  0  5  6  6  8
2003-12-31  6  5  1  4  5
2004-12-31  2  3  4  6  7

In [ ]:
df.loc['2005-12-31', :] = [0,0,0,0,0]

In [ ]:
df

              A    B    C    D    E
2000-12-31  7.0  0.0  4.0  5.0  9.0
2001-12-31  0.0  6.0  2.0  3.0  8.0
2002-12-31  0.0  5.0  6.0  6.0  8.0
2003-12-31  6.0  5.0  1.0  4.0  5.0
2004-12-31  2.0  3.0  4.0  6.0  7.0
2005-12-31  0.0  0.0  0.0  0.0  0.0

In [ ]:
df - pd.DataFrame(
    np.random.randn(10, 4),
    index = pd.date_range("2000-01-01", periods = 10, freq = 'Y'),
    columns = ['A', 'B', 'C', 'D']
)

                   A         B         C         D   E
2000-12-31  6.196519 -1.321172  4.342625  5.425334 NaN
2001-12-31  2.600796  6.914789  3.278049  4.075870 NaN
2002-12-31  0.442301  6.048597  6.448789  6.618272 NaN
2003-12-31  5.343858  3.200530  0.036646  4.595231 NaN
2004-12-31  1.671874  3.043331  3.314885  6.058063 NaN
2005-12-31  0.618598  0.258370  0.177908 -1.463562 NaN
2006-12-31       NaN       NaN       NaN       NaN NaN
2007-12-31       NaN       NaN       NaN       NaN NaN
2008-12-31       NaN       NaN       NaN       NaN NaN
2009-12-31       NaN       NaN       NaN       NaN NaN

In [ ]:
df.insert(1, 'AA', pd.Series(np.random.randn(10), index = pd.date_range("2000-01-01", periods=10, freq = 'Y'),
))

In [ ]:
df

              A        AA    B    C    D    E
2000-12-31  7.0  1.217602  0.0  4.0  5.0  9.0
2001-12-31  0.0  0.140470  6.0  2.0  3.0  8.0
2002-12-31  0.0 -0.166016  5.0  6.0  6.0  8.0
2003-12-31  6.0 -0.493391  5.0  1.0  4.0  5.0
2004-12-31  2.0 -1.069372  3.0  4.0  6.0  7.0
2005-12-31  0.0  0.344588  0.0  0.0  0.0  0.0

In [ ]:
df.drop('AA', axis = 1)

              A    B    C    D    E
2000-12-31  7.0  0.0  4.0  5.0  9.0
2001-12-31  0.0  6.0  2.0  3.0  8.0
2002-12-31  0.0  5.0  6.0  6.0  8.0
2003-12-31  6.0  5.0  1.0  4.0  5.0
2004-12-31  2.0  3.0  4.0  6.0  7.0
2005-12-31  0.0  0.0  0.0  0.0  0.0

In [ ]:
df

              A        AA    B    C    D    E
2000-12-31  7.0  1.217602  0.0  4.0  5.0  9.0
2001-12-31  0.0  0.140470  6.0  2.0  3.0  8.0
2002-12-31  0.0 -0.166016  5.0  6.0  6.0  8.0
2003-12-31  6.0 -0.493391  5.0  1.0  4.0  5.0
2004-12-31  2.0 -1.069372  3.0  4.0  6.0  7.0
2005-12-31  0.0  0.344588  0.0  0.0  0.0  0.0

In [ ]:
date = pd.date_range("2000-01-01", periods = 6, freq = 'Y')

In [ ]:
df = pd.DataFrame(
    {
    "A": pd.Series(np.random.randint(0, 10, size = 6), index=date),
    "B": pd.Series(np.random.randint(0, 10, size = 6), index=date),
    "C": pd.Series(np.random.randint(0, 10, size = 6), index=date),
    "D": pd.Series(np.random.randint(0, 10, size = 6), index=date),
    "E": pd.Series(np.random.randint(0, 10, size = 6), index=date)
    }
)

In [ ]:
df

            A  B  C  D  E
2000-12-31  1  0  7  8  9
2001-12-31  1  5  6  2  0
2002-12-31  0  7  8  7  9
2003-12-31  8  7  1  7  1
2004-12-31  8  0  8  7  3
2005-12-31  8  8  5  5  4

In [ ]:
df['A'] = [1,1,1,1,1,1]

In [ ]:
df

            A  B  C  D  E
2000-12-31  1  0  7  8  9
2001-12-31  1  5  6  2  0
2002-12-31  1  7  8  7  9
2003-12-31  1  7  1  7  1
2004-12-31  1  0  8  7  3
2005-12-31  1  8  5  5  4

In [ ]:
df.iloc[:,4] = [4,4,4,4,4,4]

In [ ]:
df

            A  B  C  D  E
2000-12-31  1  0  7  8  4
2001-12-31  1  5  6  2  4
2002-12-31  1  7  8  7  4
2003-12-31  1  7  1  7  4
2004-12-31  1  0  8  7  4
2005-12-31  1  8  5  5  4

In [ ]:
df.loc['2000-12-31',:] = [2,2,2,2,2]

In [ ]:
df

            A  B  C  D  E
2000-12-31  2  2  2  2  2
2001-12-31  1  5  6  2  4
2002-12-31  1  7  8  7  4
2003-12-31  1  7  1  7  4
2004-12-31  1  0  8  7  4
2005-12-31  1  8  5  5  4

In [ ]:
df.iloc[1:3, 1:3] = [100, 100], [100, 100]

In [ ]:
df

            A    B    C  D  E
2000-12-31  2    2    2  2  2
2001-12-31  1  100  100  2  4
2002-12-31  1  100  100  7  4
2003-12-31  1    7    1  7  4
2004-12-31  1    0    8  7  4
2005-12-31  1    8    5  5  4

In [ ]:
df.iat[1,1] == 1000

False

In [ ]:
df

            A    B    C  D  E
2000-12-31  2    2    2  2  2
2001-12-31  1  100  100  2  4
2002-12-31  1  100  100  7  4
2003-12-31  1    7    1  7  4
2004-12-31  1    0    8  7  4
2005-12-31  1    8    5  5  4

In [ ]:
df.iat[1,1] =1000

In [ ]:
df

            A     B    C  D  E
2000-12-31  2     2    2  2  2
2001-12-31  1  1000  100  2  4
2002-12-31  1   100  100  7  4
2003-12-31  1     7    1  7  4
2004-12-31  1     0    8  7  4
2005-12-31  1     8    5  5  4

In [ ]:
df.at['2000-12-31' , 'A'] = 10000

In [ ]:
df

                A     B    C  D  E
2000-12-31  10000     2    2  2  2
2001-12-31      1  1000  100  2  4
2002-12-31      1   100  100  7  4
2003-12-31      1     7    1  7  4
2004-12-31      1     0    8  7  4
2005-12-31      1     8    5  5  4

In [ ]:
date = pd.date_range('2000-01-01', periods = 5, freq = 'Y')
df = pd.DataFrame(
    {
     "A": pd.Series(np.random.randint(0, 10, size = 5), index = date),
     "B": pd.Series(np.random.randint(0, 10, size = 5), index = date),
     "C": pd.Series(np.random.randint(0, 10, size = 5), index = date),
     "D": pd.Series(np.random.randint(0, 10, size = 5), index = date)
    }
)

In [ ]:
df.drop('2000-12-31', axis = 0)

            A  B  C  D
2001-12-31  6  2  4  4
2002-12-31  3  2  7  0
2003-12-31  2  4  6  5
2004-12-31  7  3  4  3

In [ ]:
df

            A  B  C  D
2000-12-31  4  2  2  7
2001-12-31  6  2  4  4
2002-12-31  3  2  7  0
2003-12-31  2  4  6  5
2004-12-31  7  3  4  3

In [ ]:
df.drop('2000-12-31')

            A  B  C  D
2001-12-31  6  2  4  4
2002-12-31  3  2  7  0
2003-12-31  2  4  6  5
2004-12-31  7  3  4  3

In [ ]:
df.drop('A', axis=1)

            B  C  D
2000-12-31  2  2  7
2001-12-31  2  4  4
2002-12-31  2  7  0
2003-12-31  4  6  5
2004-12-31  3  4  3

In [ ]:
df.drop(['A', 'C'], axis = 1)

            B  D
2000-12-31  2  7
2001-12-31  2  4
2002-12-31  2  0
2003-12-31  4  5
2004-12-31  3  3

In [ ]:
df = pd.DataFrame(
    {
    "A": pd.Series(np.random.randint(0, 10, size=5), index = ['a', 'b,', 'c', 'd', 'e']),
    "B": pd.Series(np.random.randint(0, 10, size=4), index = ['b,', 'c', 'd', 'e']),
    "C": pd.Series(np.random.randint(0, 10, size=3), index = ['a', 'b,', 'c'])
     
    }
)

In [ ]:
df

    A    B    C
a   4  NaN  6.0
b,  0  1.0  6.0
c   7  4.0  1.0
d   4  8.0  NaN
e   6  0.0  NaN

In [ ]:
df.dropna()

    A    B    C
b,  0  1.0  6.0
c   7  4.0  1.0

In [ ]:
df.dropna(axis=1)

    A
a   4
b,  0
c   7
d   4
e   6

In [ ]:
df.fillna(10)

    A     B     C
a   4  10.0   6.0
b,  0   1.0   6.0
c   7   4.0   1.0
d   4   8.0  10.0
e   6   0.0  10.0

In [ ]:
def func (x):
    if (x > 10):
        return 'A'
    else:
        return 'B'

In [ ]:
df1 = df.replace(np.nan, 20)

In [ ]:
df1

    A     B     C
a   4  20.0   6.0
b,  0   1.0   6.0
c   7   4.0   1.0
d   4   8.0  20.0
e   6   0.0  20.0

In [ ]:
df1['B'].apply(func)

a     A
b,    B
c     B
d     B
e     B
Name: B, dtype: object

In [ ]:
df1.iloc[0].apply(func)

A    B
B    A
C    B
Name: a, dtype: object

In [ ]:
date = pd.date_range('2000-01-01', periods=10, freq='Y')
df = pd.DataFrame(
    {
     "A": pd.Series(np.random.randint(0, 10, size = 10), index=date),
     "B": pd.Series(np.random.randint(0, 10, size = 10), index=date),
     "C": pd.Series(np.random.randint(0, 10, size = 10), index=date),
     "D": pd.Series(np.random.randint(0, 10, size = 10), index=date)
    }
)

In [ ]:
df.idxmin(0)

A   2006-12-31
B   2009-12-31
C   2000-12-31
D   2009-12-31
dtype: datetime64[ns]

In [ ]:
df.idxmax(0)

A   2007-12-31
B   2007-12-31
C   2001-12-31
D   2001-12-31
dtype: datetime64[ns]

In [ ]:
df.idxmin(1)

2000-12-31    C
2001-12-31    A
2002-12-31    C
2003-12-31    C
2004-12-31    B
2005-12-31    B
2006-12-31    A
2007-12-31    D
2008-12-31    A
2009-12-31    B
Freq: A-DEC, dtype: object

In [ ]:
df.idxmax(1)

2000-12-31    D
2001-12-31    C
2002-12-31    D
2003-12-31    D
2004-12-31    A
2005-12-31    D
2006-12-31    D
2007-12-31    A
2008-12-31    B
2009-12-31    A
Freq: A-DEC, dtype: object

In [ ]:
date=pd.date_range('2001', periods = 10, freq='Y')
df = pd.DataFrame(
    {
     "A": pd.Series(np.random.randint(0, 10, size = 10), index = date),
     "B": pd.Series(np.random.randint(0, 10, size = 10), index = date),
     "C": pd.Series(np.random.randint(0, 10, size = 10), index = date),
     "D": pd.Series(np.random.randint(0, 10, size = 10), index = date)
    }
)

In [ ]:
df

            A  B  C  D
2001-12-31  1  1  1  2
2002-12-31  9  2  4  1
2003-12-31  4  3  5  3
2004-12-31  7  6  4  6
2005-12-31  4  9  0  4
2006-12-31  4  4  3  1
2007-12-31  6  0  6  1
2008-12-31  5  6  1  1
2009-12-31  9  4  6  7
2010-12-31  5  0  7  8

In [ ]:
df.value_counts()

A  B  C  D
1  1  1  2    1
4  3  5  3    1
   4  3  1    1
   9  0  4    1
5  0  7  8    1
   6  1  1    1
6  0  6  1    1
7  6  4  6    1
9  2  4  1    1
   4  6  7    1
dtype: int64

In [ ]:
df['A'].value_counts()

4    3
9    2
5    2
1    1
7    1
6    1
Name: A, dtype: int64

In [ ]:
df.iloc[0].value_counts()

1    3
2    1
Name: 2001-12-31 00:00:00, dtype: int64

In [ ]:
pd.cut(df['A'], 4)

2001-12-31    (0.992, 3.0]
2002-12-31      (7.0, 9.0]
2003-12-31      (3.0, 5.0]
2004-12-31      (5.0, 7.0]
2005-12-31      (3.0, 5.0]
2006-12-31      (3.0, 5.0]
2007-12-31      (5.0, 7.0]
2008-12-31      (3.0, 5.0]
2009-12-31      (7.0, 9.0]
2010-12-31      (3.0, 5.0]
Freq: A-DEC, Name: A, dtype: category
Categories (4, interval[float64, right]): [(0.992, 3.0] < (3.0, 5.0] < (5.0, 7.0] < (7.0, 9.0]]

In [ ]:
cut1 = pd.cut(df['A'], 4)

In [ ]:
pd.value_counts(cut1)

(3.0, 5.0]      5
(5.0, 7.0]      2
(7.0, 9.0]      2
(0.992, 3.0]    1
Name: A, dtype: int64

In [ ]:
df.mean(0)

A    5.4
B    3.5
C    3.7
D    3.4
dtype: float64

In [ ]:
df.mean(1)

2001-12-31    1.25
2002-12-31    4.00
2003-12-31    3.75
2004-12-31    5.75
2005-12-31    4.25
2006-12-31    3.00
2007-12-31    3.25
2008-12-31    3.25
2009-12-31    6.50
2010-12-31    5.00
Freq: A-DEC, dtype: float64

In [ ]:
df1 = pd.DataFrame(
    {
        "A": ['a00', 'a01', 'a02'],
     "B": ['b00', 'b01', 'b02'],
     "C": ['c00', 'c01', 'c02'],
    },
    index = ['a', 'b', 'c']
)

In [ ]:
df2 = pd.DataFrame(
    {
        "B": ['b00', 'b01', 'b02'],
     "C": ['c00', 'c01', 'c02'],
     "D": ['d00', 'd01', 'd02']
    },
    index = ['b', 'c', 'd']
)

In [ ]:
pd.concat([df1, df2])

     A    B    C    D
0  a00  b00  c00  NaN
1  a01  b01  c01  NaN
2  a02  b02  c02  NaN
0  NaN  b00  c00  d00
1  NaN  b01  c01  d01
2  NaN  b02  c02  d02

In [ ]:
pd.concat([df1, df2])

     A    B    C    D
a  a00  b00  c00  NaN
b  a01  b01  c01  NaN
c  a02  b02  c02  NaN
b  NaN  b00  c00  d00
c  NaN  b01  c01  d01
d  NaN  b02  c02  d02

In [ ]:
pd.concat([df2, df1])

     B    C    D    A
b  b00  c00  d00  NaN
c  b01  c01  d01  NaN
d  b02  c02  d02  NaN
a  b00  c00  NaN  a00
b  b01  c01  NaN  a01
c  b02  c02  NaN  a02

In [ ]:
pd.concat([df1, df2], axis = 1)

     A    B    C    B    C    D
a  a00  b00  c00  NaN  NaN  NaN
b  a01  b01  c01  b00  c00  d00
c  a02  b02  c02  b01  c01  d01
d  NaN  NaN  NaN  b02  c02  d02

In [ ]:
pd.concat([df1, df2], axis = 1, join = "inner")

     A    B    C    B    C    D
b  a01  b01  c01  b00  c00  d00
c  a02  b02  c02  b01  c01  d01

In [ ]:
pd.concat([df1, df2], axis = 1, join = "outer")

     A    B    C    B    C    D
a  a00  b00  c00  NaN  NaN  NaN
b  a01  b01  c01  b00  c00  d00
c  a02  b02  c02  b01  c01  d01
d  NaN  NaN  NaN  b02  c02  d02

In [ ]:
df1 = pd.DataFrame(
    {
        "key": ['k0', 'k1', 'k2', 'k3'],
     "A": ['a00', 'a01', 'a02', 'a03'],
     "B": ['a10', 'a11', 'a12', 'a13'],
    }
)

In [ ]:
df2 = pd.DataFrame(
    {
        "key": ['k1', 'k2', 'k3', 'k4'],
     "C": ['b00', 'b01', 'b02', 'b03'],
     "D": ['b10', 'b11', 'b12', 'b13'],
    }
)

In [ ]:
pd.merge(df1, df2, on = "key")

  key    A    B    C    D
0  k1  a01  a11  b00  b10
1  k2  a02  a12  b01  b11
2  k3  a03  a13  b02  b12

In [ ]:
df1

  key    A    B
0  k0  a00  a10
1  k1  a01  a11
2  k2  a02  a12
3  k3  a03  a13

In [ ]:
df2

  key    C    D
0  k0  b00  b10
1  k1  b01  b11
2  k2  b02  b12
3  k3  b03  b13

In [ ]:
pd.marge(df1, df2, on = "key")

NameError: ignored

4

In [ ]:
from urllib.request import urlopen
import sys
crawling_url = 'http://www.hanbit.co.kr/store/books/full_book_list.html'
response = urlopen(crawling_url)
encoding =response.info().get_content_charset(failobj="utf-8")
text = response.read().decode(encoding)
print("encoding:", encoding, file=sys.stderr)
print(text)

<!DOCTYPE html>
<html lang="ko">
<head>
<!--[if lte IE 8]>
<script>
  location.replace('/support/explorer_upgrade.html');
</script>
<![endif]-->
<meta charset="utf-8"/>
<title></title>
<link rel="shortcut icon" href="https://www.hanbit.co.kr/images/common/hanbit.ico">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta property="og:type" content="website"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="  ,        :: , , , , "/>
<meta property="og:image" content="https://www.hanbit.co.kr/images/hanbitpubnet_logo.jpg" />
<meta property="og:url" content="https://www.hanbit.co.kr/store/books/full_book_list.html"/>
<link rel="canonical" href="https://www.hanbit.co.kr/store/books/full_book_list.html" />
<meta name="keywords" content=",,,,,,,,,IT,IT,,,/,/,,,,,,ebook," />
<meta name="description" content="  ,        :: , , , , " />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<meta name="viewport" content="width=1260">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="naver-site-verification" content="01c29ed1852aecca7a48ac0c3e0869627bc512d8"/>
<link rel="stylesheet" href="/css/common.css?20210603093421" />
<link href="/css/hover.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="/js/jquery.raty.css" />
<script type="text/javascript" src="/js/jquery-latest.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/jquery.event.drag-1.5.min.js"></script>
<script type="text/javascript" src="/js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="/js/jquery.raty.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/lib/cheditor/cheditor.js"></script>
<script type="text/javascript" src="/js/jquery.ui.datepicker-ko.js"></script>
<script type="text/javascript" src="/js/engine.js"></script>
<script type="text/javascript" src="/js/vue.js"></script>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-47080738-1', 'hanbit.co.kr');
ga('require', 'linkid', 'linkid.js');
ga('send', 'pageview');
</script>
<!-- Google Analytics -->

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '406459623338891');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=406459623338891&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W9D5PM3');</script>
<!-- End Google Tag Manager -->

<!-- Kakao Pixel Code -->
<script type="text/javascript" charset="UTF-8" src="//t1.daumcdn.net/adfit/static/kp.js"></script>
<script type="text/javascript">
  kakaoPixel('3011392806152551233').pageView();
</script>
<!-- //Kakao Pixel Code -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9D5PM3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<link rel="stylesheet" href="/css/layout-hanbit.css?202107291450" />
<link rel="stylesheet" href="/css/layout-member.css" />
<link rel="stylesheet" href="/css/layout-network.css" />
<link rel="stylesheet" href="/css/layout-store.css" />
<link rel="stylesheet" href="/css/layout-myhanbit.css" />
<link rel="stylesheet" href="/css/layout-event.css" />
<!--   -->
<div id="quick_skip_menu">
  <a href="#gnb" onclick="document.getElementById('gnb').tabIndex = -1;document.getElementById('gnb').focus();return false;"><span> </span></a>
  <a href="#top_search" onclick="view_hover('main_search_area','','show'), document.getElementById('top_search').tabIndex = -1;document.getElementById('top_search').focus();return false;"><span>   </span></a>
    <a href="#container" onclick="document.getElementById('container').tabIndex = -1;document.getElementById('container').focus();return false;"><span> </span></a>
  </div>
<!-- //  -->

<!-- header -->
<header>
  <!-- top menu -->
    <nav>
    <div id="wrap_nav">
      <ul class="top_brand">
        <li><a href="https://www.hanbit.co.kr/index.html" name="hanbit_network"><span>HOME</span></a></li>
        <li><a href="https://www.hanbit.co.kr/media/"></a></li>
        <li><a href="https://www.hanbit.co.kr/academy/"></a></li>
        <li><a href="https://www.hanbit.co.kr/biz/"></a></li>
        <li><a href="https://www.hanbit.co.kr/life/"></a></li>
        <li><a href="https://www.hanbit.co.kr/edu/"></a></li>
        <li><a href="https://www.hanbit.co.kr/realtime/"></a></li>
        <li><a href="https://www.hanbit.co.kr/textbook/" target="_blank"></a></li>
        <li><a href="https://www.hanbit.co.kr/rent/" target="_blank"></a></li>
      </ul>

      <ul class="top_menu">
                <li><a href="https://www.hanbit.co.kr/member/login.html" class="login"></a></li>
        <li><a href="https://www.hanbit.co.kr/member/member_agree.html" class="join"></a></li>
        <li><a href="https://www.hanbit.co.kr/myhanbit/myhanbit.html" class="myhanbit"></a></li>
        <li><a href="https://www.hanbit.co.kr/myhanbit/cart.html" class="cart"></a></li>
                    <li class="top_menu_store"><a href="https://www.hanbit.co.kr/publisher/foreignrights.html?lang=e" target="_blank">ENGLISH</a></li>
      </ul>
    </div>
  </nav>
  <!-- //top menu -->

  <div id="wrap_gnb">
    <!-- logo -->
    <h1><a href="https://www.hanbit.co.kr/index.html"></a></h1>
    <!-- //logo -->

    <!-- Menu -->
    <div id="gnb" name="gnb">
      <ul>
        <li><a href="https://www.hanbit.co.kr/brand/brand_submain.html" class="">BRAND</a></li>
        <li><a href="https://www.hanbit.co.kr/channel/channel_submain.html" class="">Channel.H</a></li>
        <li><a href="https://www.hanbit.co.kr/store/store_submain.html" class="curr">STORE</a></li>
        <li><a href="https://www.hanbit.co.kr/support/help_info.html" class="">SUPPORT</a></li>
        <li><a href="https://www.hanbit.co.kr/event/current/current_event_list.html" class="">EVENT</a></li>

        <li><a href="https://www.hanbit.co.kr/publisher/foreignrights.html?lang=e" class="" target="_blank">RIGHTS</a></li>

        <li id="top_search" class="search"><a href="javascript:;" onClick="view_hover('main_search_area','','show'); $('#keyword_str').focus();"><span>SEARCH</span></a></li>
      </ul>
    </div>
    <!-- //Menu -->

    <!-- lnb -->
    <div class="lnb" style="top:92px;">
      <div class="lnb_area">
      <!-- BRAND -->
            <ul class="lnb_depth1_category">
        <li onmouseover="view_hover('category_store','','show')" onMouseOut="view_hover('category_store','','hide')"><a href="#" onFocus="view_hover('category_store','','show')" class="gnb_category"></a>
          <ul id="category_store">

                          <li onmouseover="view_hover('category_store1','','show')" onMouseOut="view_hover('category_store1','','hide')"><a href="/store/books/category_list.html?cate_cd=001" onFocus="view_hover('category_store1','','show')">IT/</a>
                <ul id="category_store1">
                              <li><a href="/store/books/category_list.html?cate_cd=001001"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001002"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001003">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001013"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001005"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001014"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001015">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001016"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001009">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001010"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001017">IT</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001012"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=001018">/</a></li>
              </ul></li>              <li onmouseover="view_hover('category_store2','','show')" onMouseOut="view_hover('category_store2','','hide')"><a href="/store/books/category_list.html?cate_cd=002" onFocus="view_hover('category_store2','','show')">MAKE</a>
                <ul id="category_store2">
                              <li><a href="/store/books/category_list.html?cate_cd=002002">Make  </a></li>
              </ul></li>              <li onmouseover="view_hover('category_store3','','show')" onMouseOut="view_hover('category_store3','','hide')"><a href="/store/books/category_list.html?cate_cd=003" onFocus="view_hover('category_store3','','show')">IT</a>
                <ul id="category_store3">
                              <li><a href="/store/books/category_list.html?cate_cd=003001">/OA</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=003002">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=003003">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=003004">/IT</a></li>
              </ul></li>              <li onmouseover="view_hover('category_store4','','show')" onMouseOut="view_hover('category_store4','','hide')"><a href="/store/books/category_list.html?cate_cd=004" onFocus="view_hover('category_store4','','show')"></a>
                <ul id="category_store4">
                              <li><a href="/store/books/category_list.html?cate_cd=004003">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004010">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004007"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004004"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004011">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004008">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004009">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004006">OA/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004012">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=004005"></a></li>
              </ul></li>              <li onmouseover="view_hover('category_store5','','show')" onMouseOut="view_hover('category_store5','','hide')"><a href="/store/books/category_list.html?cate_cd=006" onFocus="view_hover('category_store5','','show')"></a>
                <ul id="category_store5">
                              <li><a href="/store/books/category_list.html?cate_cd=006001">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=006002"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=006003"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=006004">/</a></li>
              </ul></li>              <li onmouseover="view_hover('category_store6','','show')" onMouseOut="view_hover('category_store6','','hide')"><a href="/store/books/category_list.html?cate_cd=007" onFocus="view_hover('category_store6','','show')">//</a>
                <ul id="category_store6">
                              <li><a href="/store/books/category_list.html?cate_cd=007001">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=007002"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=007003">/</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=007004"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=007005"></a></li>
              </ul></li>              <li onmouseover="view_hover('category_store7','','show')" onMouseOut="view_hover('category_store7','','hide')"><a href="/store/books/category_list.html?cate_cd=008" onFocus="view_hover('category_store7','','show')">//</a>
                <ul id="category_store7">
                              <li><a href="/store/books/category_list.html?cate_cd=008001">4~6</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=008002">5~7</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=008003"></a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=008004"> 1~12</a></li>
                              <li><a href="/store/books/category_list.html?cate_cd=008005"> </a></li>
              </ul></li>

          <!-- <li class="gnb_category_series"><a href="https://www.hanbit.co.kr/store/books/series_list.html"></a></li>
          <li class="gnb_category_reservations"><a href="https://www.hanbit.co.kr/store/books/reservations_list.html"></a></li> -->
        </ul>
      </ul>
      <!--/li-->
      <!--/ul-->

      <ul class="lnb_depth1">
        <li><a href="https://www.hanbit.co.kr/store/books/new_book_list.html"></a></li><span>l</span>
        <li><a href="https://www.hanbit.co.kr/store/books/reservations_list.html"></a></li><span>l</span>
        <li><a href="https://www.hanbit.co.kr/store/books/bestseller_list.html"></a></li><span>l</span>
        <li><a href="https://www.hanbit.co.kr/store/books/full_book_list.html"></a></li><span>l</span>
        <li><a href="https://www.hanbit.co.kr/store/books/series_list.html"></a></li>
        <!-- <li><a href="https://www.hanbit.co.kr/store/education/edu_list.html"></a></li><span>l</span>
        <li><a href="https://www.hanbit.co.kr/store/item/item_list.html">Item &amp; Maker Shed</a></li> -->
      </ul>

      <!-- SUPPORT -->
          </div>
    </div>
    <!--// lnb -->
  </div>
</header>
<!-- //header -->

<!--      -->
<div id="main_search_area" class="fixed" style="display:none;">
  <div class="msa_wrap">

    <!--  -->
    <div class="msa_srch_wrap">
      <form onsubmit="return false;">
      <fieldset class="msa_srch_field">
        <legend> </legend>
        <input title="" autocomplete="off" class="srch_keyword" accesskey="s" type="text" name="keyword_str" id="keyword_str" v-model="keyword" @input="typeKeyword">
        <input type="submit" class="srch_btn" style="cursor:pointer;" @click="clickSearch">
      </fieldset>
      </form>
    </div>
    <!-- // -->

    <!--   -->
    <div class="msa_srch_polular" v-if="showPopularKeyword === true">
      <h2 class="tit">  <span>( 1)</span></h2>
        <div class="popula_box">
          <ul class="left">
            <li v-for="keyword in leftPopularKeywordList">
              <a :class="keyword.bold" @click="clickPopularKeyword(keyword)">
                  {{ keyword.number }} {{ keyword.bookName }}
              </a>
            </li>
          </ul>
          <ul class="right">
            <li v-for="keyword in rightPopularKeywordList">
              <a :class="keyword.bold" @click="clickPopularKeyword(keyword)">
                  {{ keyword.number }} {{ keyword.bookName }}
              </a>
            </li>
          </ul>
        </div>
    </div>
    <!--   -->

    <!--  / -->
    <div class="msa_srch_suggestion" v-if="showPopularKeyword === false">
      <div class="sugg_left" v-if="bookList.length !== 0">
        <h3 class="tit">BOOK</h3>
        <ul class="books_list">
          <li v-for="book in bookList" @mouseover="mouseOverBook(book.id)"><a @click="clickBookKeyword(book)"><p v-html="book.name"></p></a></li>
        </ul>
      </div>

      <div class="sugg_right">
        <div class="sugg_book" v-if="bookList.length !== 0">
          <table class="sugg_book_detail">
            <tr>
              <td class="cover">
                <a @click="clickBookKeyword(bookSummary)">
                  <img :src="bookSummary.imgUrl" class="b_cover">
                </a>
              </td>
              <td class="draft">
                <a @click="clickBookKeyword(bookSummary)" class="b_title"><strong v-html="bookSummary.originName"></strong></a>
                <p class="b_int">
                {{ bookSummary.author }} <br />
                {{ bookSummary.publishingCompany }} | {{ bookSummary.date }}
                </p>
                <p class="b_type">
                <span>{{ bookSummary.bookType }}</span>
                </p>
              </td>
            </tr>
          </table>
        </div>

        <!--
        <div class="sugg_edu" v-if="educationList.length !== 0">
          <h3 class="tit">EDUCATION</h3>
          <ul class="edu_list">
            <li v-for="education in educationList">&#149; <a @click="clickEducationKeyword(education)"><span v-html="education.title"></span></a></li>
          </ul>
        </div>
        -->

        <div class="sugg_cont" v-if="contentList.length !== 0">
          <h3 class="tit">CONTENTS</h3>
          <ul class="cont_list">
            <li v-for="content in contentList">&#149; <a @click="clickContentKeyword(content)"><span v-html="content.title"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- // / -->

  <!--  -->
  <div class="msa_wrap_close">
    <a href="javascript:;" onclick="view_hover('main_search_area','','hide')"></a>
  </div>
  <!-- // -->

  </div>
</div>

<script type="text/javascript">
    "use strict";

    var common_top_search_vue = new Vue({
        el: '#main_search_area',
        data: {
            // URL
            searchProxyURL: "https://search.hanbit.co.kr",
            //  show
            showPopularKeyword: true,
            //
            keyword: '',
            //
            popularKeywordList: [],
            //    ()
            leftPopularKeywordList: [],
            //    ()
            rightPopularKeywordList: [],
            //
            bookList: [],
            //
            bookSummary: {
                'imgUrl': '',
                'link': '',
                'name': '',
                'author': '',
                'publishingCompany': '',
                'date': '',
                'bookType': ''
            },
            //
            educationList: [],
            //
            contentList: []
        },
        created: function created() {
            //
            this.getPopularKeyword();
        },
        methods: {
            /**

encoding: utf-8

In [ ]:
import re
str = '  Tom   Jane  ? ?  picnic?  Kay?'
#  :   + 1  
re.findall('[A-Z][a-z]+', str)

['Tom', 'Jane', 'Kay']

In [ ]:
import re

In [ ]:
str = " 185    130    ,  1,500 "
print(re.findall('[\d]+', str))

['185', '130', '1', '500']

In [ ]:
print(re.findall ('[\d?]+,[\d]+|[\d]+', str))

['185', '130', '1,500']

In [ ]:
str = '  Tom   jane  ? ?  Edward?  Kane?'
re_iter = re.finditer('[A-Z][a-z]+', str)
for s in re_iter:
    print(s)

<re.Match object; span=(7, 10), match='Tom'>
<re.Match object; span=(43, 49), match='Edward'>
<re.Match object; span=(55, 59), match='Kane'>

In [ ]:
print(re.match("Tom", "Tom"))
print(re.match("Tom", "TomTom"))
print(re.fullmatch("Tom", "Tom"))
print(re.fullmatch("Tom", "TomTom"))

<re.Match object; span=(0, 3), match='Tom'>
<re.Match object; span=(0, 3), match='Tom'>
<re.Match object; span=(0, 3), match='Tom'>
None

In [ ]:
str1 = ""
str2 = " 4  , , , "
s = re.split(str1, str2)
for t in s:
    tt = re.split(' ', t)
    if ( len(tt) > 1):
        print(tt[-1]+"")

In [ ]:
str1 = "Jane"
str2 = "Mary"
str3 = "how can I say to you, Jane"
re.sub(str1, str2, str3)

'how can I say to you, Mary'

In [ ]:
from urllib.request import urlopen
import re

In [ ]:
for item in re.findall(r'<td.*?</td?>', text, re.DOTALL):
    if ( re.findall(r'<td class="left">.*?</td>', item, re.DOTALL)):
        res = re.search(r'<a href="(.*?)>', item)
        if ( res != None):
            print("url", item)
        else:
            print("author", item)

url <td class="left"><a href="/store/books/look.php?p_code=B2949290774">  AWS AI </a></td>
author <td class="left">   1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B9483006177">   </a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B8613567974"> </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B1519857692">  </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B7550382130">   </a></td>
author <td class="left">   1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5725043400">XGBoost    </a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B9078925849"> </a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B9856488100"> ,   ?</a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5392144310">  </a></td>
author <td class="left">()   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5658376953">    </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2027701371">   &#40;2&#41;</a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B3855421165">    </a></td>
author <td class="left">   1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5151815130"> </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2707221826">    CC 2022</a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B7121664936">STEM@CookBook, Beer  &#40;3&#41;</a></td>
author <td class="left">Ferdinand P. Beer  4  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B7790361118">3      </a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4309942517">   </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6236324381">STEIN  </a></td>
author <td class="left">ELIAS M. STEIN  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B1102492805"> , </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5538841948">    CC 2022</a></td>
author <td class="left">  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6113501223">   &#40;&#41;</a></td>
author <td class="left">   1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2277305433"> </a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5471282287">  </a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4355310473"> UXer  UX/UI  </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5732906061">   </a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B7239224234">   4</a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2761632078">   SRE</a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B9202577080">  &#40;2&#41;</a></td>
author <td class="left"> ( )  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2736769991">   1 </a></td>
author <td class="left">  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B1793194115">   1 </a></td>
author <td class="left">  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B7678436157">   1  </a></td>
author <td class="left">  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2733383112">   1 &#40;  &#41;</a></td>
author <td class="left">  4  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5654917817">   2 </a></td>
author <td class="left">  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6791524292">   2 </a></td>
author <td class="left">  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4714560494">   2  </a></td>
author <td class="left">  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B9793340053">   2 &#40;  &#41;</a></td>
author <td class="left">  4  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B7184802799">   CC 2022</a></td>
author <td class="left">()   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2195975973"> :  </a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B9495853770">   CC 2022</a></td>
author <td class="left">()  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2074362768">  [2022~2023 ]</a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4600453154">  </a></td>
author <td class="left">  1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B2995989202"> with IFRS</a></td>
author <td class="left">Jerry Weygandt  2  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4859286751">  WSL</a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6734033518"></a></td>
author <td class="left">   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B1952730042"> Go</a></td>
author <td class="left">    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B3887932883">   &#40;2&#41;</a></td>
author <td class="left">   1  </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6336443256">     </a></td>
author <td class="left">(wikiwiki)   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B6502360410">   </a></td>
author <td class="left"> D.    </td>
url <td class="left"><a href="/store/books/look.php?p_code=B5744853316">   13</a></td>
author <td class="left">Michael R. Solomon   </td>
url <td class="left"><a href="/store/books/look.php?p_code=B4893899879">   </a></td>
author <td class="left">   </td>

In [ ]:
urls = []
titles = []
authors = []
prices = []
dates = []
brands = []

for item in re.findall(r'<td.*?</td?>', text, re.DOTALL):
    # url, title & author
    if ( re.findall(r'<td class="left">.*?</td>', item, re.DOTALL)):
        res = re.search(r'<a href="(.*?)>', item)
        if ( res != None):
            url = re.search(r'<a href="(.*?)>', item).group(1)
            url = "https://www.hanbit.co.kr" + url
            urls.append(url)
            title = re.sub(r'<.*?>', '', item)
            titles.append(title)
            print("url", url)
            print("title", title)
        else:
            author = re.sub(r'<.*?>', '', item)
            authors.append(author)
            print("author", author)
    # date
    if ( re.findall(r'<td>.*?</td>', item, re.DOTALL)):
        date = re.sub(r'<.*?>', '', item)
        dates.append(date)
        print("date", date)
    # price
    if ( re.findall(r'<td class="right">.*?</td>', item, re.DOTALL)):
        price = re.sub(r'<.*?>', '', item)
        prices.append(price)
        print("price", price)
    # brand
    if ( re.findall(r'<td class="brd_.*">.*?</td>', item, re.DOTALL)):
        brand = re.sub(r'<.*?>', '', item)
        brands.append(brand)
        print("brand", brand)

brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B2949290774"
title   AWS AI
author    1
date 2022-04-15
price 30,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B9483006177"
title
author
date 2022-04-14
price 14,800
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B8613567974"
title
author
date 2022-04-12
price 18,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B1519857692"
title
author
date 2022-04-11
price 17,500
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B7550382130"
title
author    1
date 2022-04-11
price 20,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B5725043400"
title XGBoost
author
date 2022-04-08
price 34,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B9078925849"
title
author
date 2022-04-05
price 34,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B9856488100"
title  ,   ?
author
date 2022-04-01
price 15,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B5392144310"
title
author ()
date 2022-04-01
price 30,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B5658376953"
title
author
date 2022-04-01
price 16,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B2027701371"
title    &#40;2&#41;
author
date 2022-03-31
price 45,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B3855421165"
title
author    1
date 2022-03-30
price 35,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B5151815130"
title
author
date 2022-03-28
price 16,500
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B2707221826"
title     CC 2022
author
date 2022-03-25
price 24,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B7121664936"
title STEM@CookBook, Beer  &#40;3&#41;
author Ferdinand P. Beer  4
date 2022-03-22
price 39,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B7790361118"
title 3
author
date 2022-03-21
price 12,800
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B4309942517"
title
author
date 2022-03-21
price 28,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B6236324381"
title STEIN
author ELIAS M. STEIN  1
date 2022-03-18
price 38,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B1102492805"
title  ,
author
date 2022-03-16
price 16,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B5538841948"
title     CC 2022
author   2
date 2022-03-16
price 24,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B6113501223"
title    &#40;&#41;
author    1
date 2022-03-16
price 36,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B2277305433"
title
author
date 2022-03-15
price 17,800
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B5471282287"
title
author
date 2022-03-15
price 30,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B4355310473"
title  UXer  UX/UI
author
date 2022-03-15
price 24,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B5732906061"
title
author
date 2022-03-14
price 42,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B7239224234"
title    4
author
date 2022-03-10
price 30,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B2761632078"
title    SRE
author
date 2022-03-10
price 26,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B9202577080"
title   &#40;2&#41;
author  ( )  2
date 2022-03-10
price 24,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B2736769991"
title    1
author   2
date 2022-03-10
price 12,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B1793194115"
title    1
author   2
date 2022-03-10
price 13,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B7678436157"
title    1
author   2
date 2022-03-10
price 13,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B2733383112"
title    1 &#40;  &#41;
author   4
date 2022-03-10
price 38,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B5654917817"
title    2
author   1
date 2022-03-10
price 12,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B6791524292"
title    2
author   1
date 2022-03-10
price 13,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B4714560494"
title    2
author   1
date 2022-03-10
price 13,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B9793340053"
title    2 &#40;  &#41;
author   4
date 2022-03-10
price 38,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B7184802799"
title    CC 2022
author ()
date 2022-03-04
price 24,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B2195975973"
title  :
author
date 2022-03-04
price 35,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B9495853770"
title    CC 2022
author ()  1
date 2022-03-03
price 21,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B2074362768"
title   [2022~2023 ]
author
date 2022-03-02
price 17,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B4600453154"
title
author   1
date 2022-03-02
price 22,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B2995989202"
title  with IFRS
author Jerry Weygandt  2
date 2022-03-02
price 44,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B4859286751"
title   WSL
author
date 2022-02-28
price 20,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B6734033518"
title
author
date 2022-02-28
price 45,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B1952730042"
title  Go
author
date 2022-02-25
price 34,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B3887932883"
title    &#40;2&#41;
author    1
date 2022-02-25
price 33,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B6336443256"
title
author (wikiwiki)
date 2022-02-25
price 14,800
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B6502360410"
title
author  D.
date 2022-02-25
price 18,800
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B5744853316"
title    13
author Michael R. Solomon
date 2022-02-21
price 39,000
brand
url https://www.hanbit.co.kr/store/books/look.php?p_code=B4893899879"
title
author
date 2022-02-21
price 25,000

In [ ]:
import pandas as pd

df = pd.DataFrame (
    {
        "URL": urls,
        "TITLE": titles,
        "AUTHOR": authors,
        "DATE": dates,
        "PRICE": prices,
        "BRAND": brands
    }
)

In [ ]:
df

,URL,TITLE,AUTHOR,DATE,PRICE,BRAND
0,https://www.hanbit.co.kr/store/books/look.php?...,,1,2022-03-30,"35,000",
1,https://www.hanbit.co.kr/store/books/look.php?...,,,2022-03-28,"16,500",
2,https://www.hanbit.co.kr/store/books/look.php?...,CC 2022,,2022-03-25,"24,000",
3,https://www.hanbit.co.kr/store/books/look.php?...,"STEM@CookBook, Beer &#40;3&#41;",Ferdinand P. Beer 4,2022-03-22,"39,000",
4,https://www.hanbit.co.kr/store/books/look.php?...,3,,2022-03-21,"12,800",
5,https://www.hanbit.co.kr/store/books/look.php?...,,,2022-03-21,"28,000",
6,https://www.hanbit.co.kr/store/books/look.php?...,STEIN,ELIAS M. STEIN 1,2022-03-18,"38,000",
7,https://www.hanbit.co.kr/store/books/look.php?...,",",,2022-03-16,"16,000",
8,https://www.hanbit.co.kr/store/books/look.php?...,CC 2022,2,2022-03-16,"24,000",
9,https://www.hanbit.co.kr/store/books/look.php?...,&#40;&#41;,1,2022-03-16,"36,000",
10,https://www.hanbit.co.kr/store/books/look.php?...,,,2022-03-15,"17,800",
11,https://www.hanbit.co.kr/store/books/look.php?...,,,2022-03-15,"30,000",
12,https://www.hanbit.co.kr/store/books/look.php?...,UXer UX/UI,,2022-03-15,"24,000",
13,https://www.hanbit.co.kr/store/books/look.php?...,,,2022-03-14,"42,000",
14,https://www.hanbit.co.kr/store/books/look.php?...,4,,2022-03-10,"30,000",
15,https://www.hanbit.co.kr/store/books/look.php?...,SRE,,2022-03-10,"26,000",
16,https://www.hanbit.co.kr/store/books/look.php?...,&#40;2&#41;,( ) 2,2022-03-10,"24,000",
17,https://www.hanbit.co.kr/store/books/look.php?...,1,2,2022-03-10,"12,000",
18,https://www.hanbit.co.kr/store/books/look.php?...,1,2,2022-03-10,"13,000",
19,https://www.hanbit.co.kr/store/books/look.php?...,1,2,2022-03-10,"13,000",
20,https://www.hanbit.co.kr/store/books/look.php?...,1 &#40; &#41;,4,2022-03-10,"38,000",
21,https://www.hanbit.co.kr/store/books/look.php?...,2,1,2022-03-10,"12,000",
22,https://www.hanbit.co.kr/store/books/look.php?...,2,1,2022-03-10,"13,000",
23,https://www.hanbit.co.kr/store/books/look.php?...,2,1,2022-03-10,"13,000",
24,https://www.hanbit.co.kr/store/books/look.php?...,2 &#40; &#41;,4,2022-03-10,"38,000",
25,https://www.hanbit.co.kr/store/books/look.php?...,CC 2022,(),2022-03-04,"24,000",
26,https://www.hanbit.co.kr/store/books/look.php?...,:,,2022-03-04,"35,000",
27,https://www.hanbit.co.kr/store/books/look.php?...,CC 2022,() 1,2022-03-03,"21,000",
28,https://www.hanbit.co.kr/store/books/look.php?...,[2022~2023 ],,2022-03-02,"17,000",
29,https://www.hanbit.co.kr/store/books/look.php?...,,1,2022-03-02,"22,000",
30,https://www.hanbit.co.kr/store/books/look.php?...,with IFRS,Jerry Weygandt 2,2022-03-02,"44,000",
31,https://www.hanbit.co.kr/store/books/look.php?...,WSL,,2022-02-28,"20,000",
32,https://www.hanbit.co.kr/store/books/look.php?...,,,2022-02-28,"45,000",
33,https://www.hanbit.co.kr/store/books/look.php?...,Go,,2022-02-25,"34,000",
34,https://www.hanbit.co.kr/store/books/look.php?...,&#40;2&#41;,1,2022-02-25,"33,000",
35,https://www.hanbit.co.kr/store/books/look.php?...,,(wikiwiki),2022-02-25,"14,800",
36,https://www.hanbit.co.kr/store/books/look.php?...,,D.,2022-02-25,"18,800",
37,https://www.hanbit.co.kr/store/books/look.php?...,13,Michael R. Solomon,2022-02-21,"39,000",
38,https://www.hanbit.co.kr/store/books/look.php?...,,,2022-02-21,"25,000",
39,https://www.hanbit.co.kr/store/books/look.php?...,,1,2022-02-18,"19,800",
40,https://www.hanbit.co.kr/store/books/look.php?...,: &#40;&#41;,(),2022-02-14,"60,000",
41,https://www.hanbit.co.kr/store/books/look.php?...,,,2022-02-10,"19,000",
42,https://www.hanbit.co.kr/store/books/look.php?...,STEIN,ELIAS M. STEIN 1,2022-02-10,"36,000",
43,https://www.hanbit.co.kr/store/books/look.php?...,&#40;2022 &#41;,,2022-02-10,"19,000",
44,https://www.hanbit.co.kr/store/books/look.php?...,[2022~2023 ],,2022-02-01,"18,000",
45,https://www.hanbit.co.kr/store/books/look.php?...,,(Josh Patterson) 2,2022-01-31,"25,000",
46,https://www.hanbit.co.kr/store/books/look.php?...,"STEM CookBook,",1,2022-01-29,"32,000",
47,https://www.hanbit.co.kr/store/books/look.php?...,"IT CookBook, &#40;2&#41;",,2022-01-28,"33,000",
48,https://www.hanbit.co.kr/store/books/look.php?...,&#40;3&#41;,Angelo Kinicki,2022-01-28,"38,000",
49,https://www.hanbit.co.kr/store/books/look.php?...,& CC 2022,3,2022-01-27,"23,000",

5

In [ ]:
import requests
crawling_url = "https://www.hanbit.co.kr/store/books/full_book_list.html"
respose = requests.get(crawling_url)
text = respose.text

In [ ]:
from bs4 import BeautifulSoup as bs

In [ ]:
soup = bs(text, "html.parser")

In [ ]:
result = soup.find_all("tr")

In [ ]:
url2 = []
title2 = []
author2 = []
date2 = []
brand2 = []
price2 = []

for item in result:
    it1 = item.find_all("a")
    it2 = item.find_all("td")
    for it in it1:
        url = it.get("href")
        if(url == None):
            continue
        url = "https://www.hanbit.co.kr" + url
        url2.append(url)
        
        brand2.append(it2[0].string)
        title2.append(it2[1].string)
        author2.append(it2[2].string)
        date2.append(it2[3].string)
        price2.append(it2[4].string)

In [ ]:
import pandas as pd
df2 = pd.DataFrame (
    {
        "BRAND": brand2,
        "TITLE": title2,
        "AUTHOR": author2,
        "DATE": date2,
        "PRICE": price2
    }
)

In [ ]:
df2

,BRAND,TITLE,AUTHOR,DATE,PRICE
0,,,,2022-04-14,"14,800"
1,,,,2022-04-05,"34,000"
2,,", ?",,2022-04-01,"15,000"
3,,,(),2022-04-01,"30,000"
4,,,,2022-04-01,"16,000"
5,,(2),,2022-03-31,"45,000"
6,,,1,2022-03-30,"35,000"
7,,,,2022-03-28,"16,500"
8,,CC 2022,,2022-03-25,"24,000"
9,,"STEM@CookBook, Beer (3)",Ferdinand P. Beer 4,2022-03-22,"39,000"
10,,3,,2022-03-21,"12,800"
11,,,,2022-03-21,"28,000"
12,,STEIN,ELIAS M. STEIN 1,2022-03-18,"38,000"
13,,",",,2022-03-16,"16,000"
14,,CC 2022,2,2022-03-16,"24,000"
15,,(),1,2022-03-16,"36,000"
16,,,,2022-03-15,"17,800"
17,,,,2022-03-15,"30,000"
18,,UXer UX/UI,,2022-03-15,"24,000"
19,,,,2022-03-14,"42,000"
20,,4,,2022-03-10,"30,000"
21,,SRE,,2022-03-10,"26,000"
22,,(2),( ) 2,2022-03-10,"24,000"
23,,1,2,2022-03-10,"12,000"
24,,1,2,2022-03-10,"13,000"
25,,1,2,2022-03-10,"13,000"
26,,1 ( ),4,2022-03-10,"38,000"
27,,2,1,2022-03-10,"12,000"
28,,2,1,2022-03-10,"13,000"
29,,2,1,2022-03-10,"13,000"
30,,2 ( ),4,2022-03-10,"38,000"
31,,CC 2022,(),2022-03-04,"24,000"
32,,:,,2022-03-04,"35,000"
33,,CC 2022,() 1,2022-03-03,"21,000"
34,,[2022~2023 ],,2022-03-02,"17,000"
35,,,1,2022-03-02,"22,000"
36,,with IFRS,Jerry Weygandt 2,2022-03-02,"44,000"
37,,WSL,,2022-02-28,"20,000"
38,,,,2022-02-28,"45,000"
39,,Go,,2022-02-25,"34,000"
40,,(2),1,2022-02-25,"33,000"
41,,,(wikiwiki),2022-02-25,"14,800"
42,,,D.,2022-02-25,"18,800"
43,,13,Michael R. Solomon,2022-02-21,"39,000"
44,,,,2022-02-21,"25,000"
45,,,1,2022-02-18,"19,800"
46,,: (),(),2022-02-14,"60,000"
47,,,,2022-02-10,"19,000"
48,,STEIN,ELIAS M. STEIN 1,2022-02-10,"36,000"
49,,(2022 ),,2022-02-10,"19,000"

In [ ]:
import requests
crawling_url = "http://www.kyobobook.co.kr/bestSellerNew/bestseller.laf?orderClick=d79"
reponse = requests.get(crawling_url)
text = response.text

In [ ]:
from bs4 import BeautifulSoup as bs

In [ ]:
soup = bs(text, "html.parser")

In [ ]:
date = soup.find("h4", {"class": "title_best_basic"}).find("small").text
print(date)

( : 2022.03.23 ~ 2022.03.29)

In [ ]:
bestseller = soup.find("ul", {"class": "list_type01"})
bestseller

<ul class="list_type01">
<!-- eBook
						B = book.ebookYn  false   /****/
						E = book.ebookYn  true  book.ejkGb  EBK  data.range  '2'   /**ebook**/  barcode,eBarcode   ebook   barcode,
						BNE = book.ebookYn  true  book.ejkGb  KOR  /**+ebook**/  barcode , eBarcode ebook barcode,

						existEbook
		-->
<!--//eBook -->
<!-- ebook  barcode  eBarcode  -->
<input name="barcode" type="hidden" value="9791157062560"/>
<input name="ejkGb" type="hidden" value="KOR"/>
<input name="notAge" type="hidden" value="0 "/>
<input name="cartType" type="hidden" value="addMast"/>
<input name="qty" type="hidden" value="1"/>
<li>
<div class="cover">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791157062560" onclick="javascript:ecommerceClickListGA('9791157062560', 'KOR', ' ', '', '17090303', '', '', '');">
<strong class="rank">1</strong>
<img alt=" " onerror="javascript:noImage(this,'L','KOR');" src="http://image.kyobobook.co.kr/images/book/large/560/l9791157062560.jpg"/>
</a>
<span class="check"><input name="indexCnt" title="  " type="checkbox" value="1"/></span>
<!--       -->
<div class="change">
<img alt="NEW" src="http://image.kyobobook.co.kr/ink/images/welcome/icon_best_new2.gif"/>
</div>
<div class="button">
<a class="btn_small btn_blue4" href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791157062560" onclick="javascript:ecommerceClickListGA('9791157062560', 'KOR', ' ', '', '17090303', '', '', '');" target="_blank"></a>
<a class="btn_small btn_blue4" href="javascript:previewN('9791157062560');"></a>
</div>
</div>
<div class="detail">
<div class="subtitle">




								 ,



				</div>
<div class="title">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791157062560" onclick="javascript:ecommerceClickListGA('9791157062560', 'KOR', ' ', '', '17090303', '', '', '');"><strong> </strong></a>
<span class="icon">
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_freere.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_m_deduction.gif"/>
</span>
</div>
<div class="author">







					<span class="popup_load uxOpenList">
</span>
<span class="line">|</span>

						<span class="line">|</span> 2022 03 25

				</div>
<div class="review">
<img alt="5  5" src="http://image.kyobobook.co.kr/ink/images/common/img_starating_a5.gif"/>
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791157062560#review">(2  )</a>
</div>
<div class="price">



						<strong class="book_price">14,400</strong>
<span class="dc_rate">[<strong>10</strong>% + <strong>5</strong>% ]</span>
<a href="javascript:goDetailProductNotAge('EBK','17090303','','0 ', 'N')" target="_self">
</a>
</div>
<div class="info">
								   <strong class="blue">( 1,)</strong><strong class="blue">   </strong>
							</div>
</div>
<div class="book_add">
<a class="btn_medium btn_blue" href="javascript:goAddCartOne(document.frmList,1,'HiddenActionFrame')" onmousedown="javascript:AEC_F_D('9791157062560','i',document.getElementsByName('qty')[0].value);"> </a>
<a class="btn_medium btn_blue2" href="javascript:goDirectOrder(document.frmList,1,'HiddenActionFrame');"> </a>
<a class="btn_medium" href="javascript:goAddWishOne(document.frmList,1);"> </a>
</div>
</li>
<!-- eBook
						B = book.ebookYn  false   /****/
						E = book.ebookYn  true  book.ejkGb  EBK  data.range  '2'   /**ebook**/  barcode,eBarcode   ebook   barcode,
						BNE = book.ebookYn  true  book.ejkGb  KOR  /**+ebook**/  barcode , eBarcode ebook barcode,

						existEbook
		-->
<!--//eBook -->
<!-- ebook  barcode  eBarcode  -->
<input name="barcode" type="hidden" value="9791161571188"/>
<input name="ejkGb" type="hidden" value="KOR"/>
<input name="notAge" type="hidden" value="0 "/>
<input name="cartType" type="hidden" value="addMast"/>
<input name="qty" type="hidden" value="1"/>
<li>
<div class="cover">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791161571188" onclick="javascript:ecommerceClickListGA('9791161571188', 'KOR', ' (40   )', '', '010101', '', '', '');">
<strong class="rank">2</strong>
<img alt=" (40   )" onerror="javascript:noImage(this,'L','KOR');" src="http://image.kyobobook.co.kr/images/book/large/188/l9791161571188.jpg"/>
</a>
<span class="check"><input name="indexCnt" title="  " type="checkbox" value="2"/></span>
<!--       -->
<div class="change">
</div>
<div class="button">
<a class="btn_small btn_blue4" href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791161571188" onclick="javascript:ecommerceClickListGA('9791161571188', 'KOR', ' (40   )', '', '010101', '', '', '');" target="_blank"></a>
<a class="btn_small btn_blue4" href="javascript:previewN('9791161571188');"></a>
</div>
</div>
<div class="detail">
<div class="subtitle">








				</div>
<div class="title">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791161571188" onclick="javascript:ecommerceClickListGA('9791161571188', 'KOR', ' (40   )', '', '010101', '', '', '');"><strong> (40   )</strong></a>
<span class="icon">
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_freere.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_event03.gif"/>
<img alt="MD " src="http://image.kyobobook.co.kr/ink/images/common/icon_recom02.gif"/>
<img alt="sam" src="http://image.kyobobook.co.kr/ink/images/common/icon_sam.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_m_deduction.gif"/>
</span>
</div>
<div class="author">







					<span class="popup_load uxOpenList">
</span>
<span class="line">|</span>

						<span class="line">|</span> 2021 04 20

				</div>
<div class="review">
<img alt="5  5" src="http://image.kyobobook.co.kr/ink/images/common/img_starating_a5.gif"/>
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791161571188#review">(12  )</a>
</div>
<div class="price">



						<strong class="book_price">12,600</strong>
<span class="dc_rate">[<strong>10</strong>% + <strong>5</strong>% ]</span>
<a href="javascript:goDetailProductNotAge('EBK','010101','4801161571189','0 ', 'N')" target="_self">
<span class="line">|</span> eBook <strong class="ebook_price">9,800</strong>
</a>
</div>
<div class="info">
								   <strong class="blue">( 1,)</strong><strong class="blue">   </strong>
							</div>
</div>
<div class="book_add">
<a class="btn_medium btn_blue" href="javascript:goAddCartOne(document.frmList,2,'HiddenActionFrame')" onmousedown="javascript:AEC_F_D('9791161571188','i',document.getElementsByName('qty')[1].value);"> </a>
<a class="btn_medium btn_blue2" href="javascript:goDirectOrder(document.frmList,2,'HiddenActionFrame');"> </a>
<a class="btn_medium" href="javascript:goAddWishOne(document.frmList,2);"> </a>
</div>
</li>
<!-- eBook
						B = book.ebookYn  false   /****/
						E = book.ebookYn  true  book.ejkGb  EBK  data.range  '2'   /**ebook**/  barcode,eBarcode   ebook   barcode,
						BNE = book.ebookYn  true  book.ejkGb  KOR  /**+ebook**/  barcode , eBarcode ebook barcode,

						existEbook
		-->
<!--//eBook -->
<!-- ebook  barcode  eBarcode  -->
<input name="barcode" type="hidden" value="9791170400523"/>
<input name="ejkGb" type="hidden" value="KOR"/>
<input name="notAge" type="hidden" value="0 "/>
<input name="cartType" type="hidden" value="addMast"/>
<input name="qty" type="hidden" value="1"/>
<li>
<div class="cover">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791170400523" onclick="javascript:ecommerceClickListGA('9791170400523', 'KOR', '  ', '', '050101', '', '', '');">
<strong class="rank">3</strong>
<img alt="  " onerror="javascript:noImage(this,'L','KOR');" src="http://image.kyobobook.co.kr/images/book/large/523/l9791170400523.jpg"/>
</a>
<span class="check"><input name="indexCnt" title="  " type="checkbox" value="3"/></span>
<!--       -->
<div class="change">
</div>
<div class="button">
<a class="btn_small btn_blue4" href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791170400523" onclick="javascript:ecommerceClickListGA('9791170400523', 'KOR', '  ', '', '050101', '', '', '');" target="_blank"></a>
<a class="btn_small btn_blue4" href="javascript:previewN('9791170400523');"></a>
</div>
</div>
<div class="detail">
<div class="subtitle">
</div>
<div class="title">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791170400523" onclick="javascript:ecommerceClickListGA('9791170400523', 'KOR', '  ', '', '050101', '', '', '');"><strong>  </strong></a>
<span class="icon">
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_freere.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_event03.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/icon/icon_todaybook.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_m_deduction.gif"/>
</span>
</div>
<div class="author">







					<span class="popup_load uxOpenList">
<a class="btn_small btn_open" href="#"> </a>
<ul class="list_author" style="display:none;">
<li></li>
</ul>
</span>
<span class="line">|</span>

						<span class="line">|</span> 2021 10 28

				</div>
<div class="review">
<img alt="5  5" src="http://image.kyobobook.co.kr/ink/images/common/img_starating_a5.gif"/>
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791170400523#review">(22  )</a>
</div>
<div class="price">



						<strong class="book_price">14,850</strong>
<span class="dc_rate">[<strong>10</strong>% + <strong>5</strong>% ]</span>
<a href="javascript:goDetailProductNotAge('EBK','050101','4801170400524','0 ', 'N')" target="_self">
<span class="line">|</span> eBook <strong class="ebook_price">11,500</strong>
</a>
</div>
<div class="info">
								   <strong class="blue">( 1,)</strong><strong class="blue">   </strong>
							</div>
</div>
<div class="book_add">
<a class="btn_medium btn_blue" href="javascript:goAddCartOne(document.frmList,3,'HiddenActionFrame')" onmousedown="javascript:AEC_F_D('9791170400523','i',document.getElementsByName('qty')[2].value);"> </a>
<a class="btn_medium btn_blue2" href="javascript:goDirectOrder(document.frmList,3,'HiddenActionFrame');"> </a>
<a class="btn_medium" href="javascript:goAddWishOne(document.frmList,3);"> </a>
</div>
</li>
<!-- eBook
						B = book.ebookYn  false   /****/
						E = book.ebookYn  true  book.ejkGb  EBK  data.range  '2'   /**ebook**/  barcode,eBarcode   ebook   barcode,
						BNE = book.ebookYn  true  book.ejkGb  KOR  /**+ebook**/  barcode , eBarcode ebook barcode,

						existEbook
		-->
<!--//eBook -->
<!-- ebook  barcode  eBarcode  -->
<input name="barcode" type="hidden" value="9788933871751"/>
<input name="ejkGb" type="hidden" value="KOR"/>
<input name="notAge" type="hidden" value="0 "/>
<input name="cartType" type="hidden" value="addMast"/>
<input name="qty" type="hidden" value="1"/>
<li>
<div class="cover">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9788933871751" onclick="javascript:ecommerceClickListGA('9788933871751', 'KOR', '  ( HardCover)(2)', '', '23191503', '', '', '');">
<strong class="rank">4</strong>
<img alt="  ( HardCover)(2)" onerror="javascript:noImage(this,'L','KOR');" src="http://image.kyobobook.co.kr/images/book/large/751/l9788933871751.jpg"/>
</a>
<span class="check"><input name="indexCnt" title="  " type="checkbox" value="4"/></span>
<!--       -->
<div class="change">
<img alt="NEW" src="http://image.kyobobook.co.kr/ink/images/welcome/icon_best_new2.gif"/>
</div>
<div class="button">
<a class="btn_small btn_blue4" href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9788933871751" onclick="javascript:ecommerceClickListGA('9788933871751', 'KOR', '  ( HardCover)(2)', '', '23191503', '', '', '');" target="_blank"></a>
<a class="btn_small btn_blue4" href="javascript:previewN('9788933871751');"></a>
</div>
</div>
<div class="detail">
<div class="subtitle">
</div>
<div class="title">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9788933871751" onclick="javascript:ecommerceClickListGA('9788933871751', 'KOR', '  ( HardCover)(2)', '', '23191503', '', '', '');"><strong>  ( HardCover)(2)</strong></a>
<span class="icon">
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_freere.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_event03.gif"/>
<img alt="MD " src="http://image.kyobobook.co.kr/ink/images/common/icon_recom02.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_m_deduction.gif"/>
</span>
</div>
<div class="author">







					<span class="popup_load uxOpenList">
</span>
<span class="line">|</span>

						<span class="line">|</span> 2022 03 15

				</div>
<div class="review">
<img alt="5  5" src="http://image.kyobobook.co.kr/ink/images/common/img_starating_a5.gif"/>
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9788933871751#review">(2  )</a>
</div>
<div class="price">



						<strong class="book_price">44,640</strong>
<span class="dc_rate">[<strong>10</strong>% + <strong>5</strong>% ]</span>
<a href="javascript:goDetailProductNotAge('EBK','23191503','','0 ', 'N')" target="_self">
</a>
</div>
<div class="info">
								   <strong class="blue">( 1,)</strong><strong class="blue">   </strong>
							</div>
</div>
<div class="book_add">
<a class="btn_medium btn_blue" href="javascript:goAddCartOne(document.frmList,4,'HiddenActionFrame')" onmousedown="javascript:AEC_F_D('9788933871751','i',document.getElementsByName('qty')[3].value);"> </a>
<a class="btn_medium btn_blue2" href="javascript:goDirectOrder(document.frmList,4,'HiddenActionFrame');"> </a>
<a class="btn_medium" href="javascript:goAddWishOne(document.frmList,4);"> </a>
</div>
</li>
<!-- eBook
						B = book.ebookYn  false   /****/
						E = book.ebookYn  true  book.ejkGb  EBK  data.range  '2'   /**ebook**/  barcode,eBarcode   ebook   barcode,
						BNE = book.ebookYn  true  book.ejkGb  KOR  /**+ebook**/  barcode , eBarcode ebook barcode,

						existEbook
		-->
<!--//eBook -->
<!-- ebook  barcode  eBarcode  -->
<input name="barcode" type="hidden" value="9791189327156"/>
<input name="ejkGb" type="hidden" value="KOR"/>
<input name="notAge" type="hidden" value="0 "/>
<input name="cartType" type="hidden" value="addMast"/>
<input name="qty" type="hidden" value="1"/>
<li>
<div class="cover">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791189327156" onclick="javascript:ecommerceClickListGA('9791189327156', 'KOR', '  ', '', '290501', ' ', '', '');">
<strong class="rank">5</strong>
<img alt="  " onerror="javascript:noImage(this,'L','KOR');" src="http://image.kyobobook.co.kr/images/book/large/156/l9791189327156.jpg"/>
</a>
<span class="check"><input name="indexCnt" title="  " type="checkbox" value="5"/></span>
<!--       -->
<div class="change">
</div>
<div class="button">
<a class="btn_small btn_blue4" href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791189327156" onclick="javascript:ecommerceClickListGA('9791189327156', 'KOR', '  ', '', '290501', ' ', '', '');" target="_blank"></a>
<a class="btn_small btn_blue4" href="javascript:previewN('9791189327156');"></a>
</div>
</div>
<div class="detail">
<div class="subtitle">
</div>
<div class="title">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791189327156" onclick="javascript:ecommerceClickListGA('9791189327156', 'KOR', '  ', '', '290501', ' ', '', '');"><strong>  </strong></a>
<span class="icon">
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_freere.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_event03.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/icon/icon_todaybook.gif"/>
<img alt="sam" src="http://image.kyobobook.co.kr/ink/images/common/icon_sam.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_m_deduction.gif"/>
</span>
</div>
<div class="author">







					<span class="popup_load uxOpenList">
</span>
<span class="line">|</span>

						<span class="line">|</span> 2021 12 17

				</div>
<div class="review">
<img alt="5  4" src="http://image.kyobobook.co.kr/ink/images/common/img_starating_a4.gif"/>
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791189327156#review">(5  )</a>
</div>
<div class="price">



						<strong class="book_price">15,300</strong>
<span class="dc_rate">[<strong>10</strong>% + <strong>5</strong>% ]</span>
<a href="javascript:goDetailProductNotAge('EBK','290501','4801189327157','0 ', 'N')" target="_self">
<span class="line">|</span> eBook <strong class="ebook_price">11,900</strong>
</a>
</div>
<div class="info">
								   <strong class="blue">( 1,)</strong><strong class="blue">   </strong>
							</div>
</div>
<div class="book_add">
<a class="btn_medium btn_blue" href="javascript:goAddCartOne(document.frmList,5,'HiddenActionFrame')" onmousedown="javascript:AEC_F_D('9791189327156','i',document.getElementsByName('qty')[4].value);"> </a>
<a class="btn_medium btn_blue2" href="javascript:goDirectOrder(document.frmList,5,'HiddenActionFrame');"> </a>
<a class="btn_medium" href="javascript:goAddWishOne(document.frmList,5);"> </a>
</div>
</li>
<!-- eBook
						B = book.ebookYn  false   /****/
						E = book.ebookYn  true  book.ejkGb  EBK  data.range  '2'   /**ebook**/  barcode,eBarcode   ebook   barcode,
						BNE = book.ebookYn  true  book.ejkGb  KOR  /**+ebook**/  barcode , eBarcode ebook barcode,

						existEbook
		-->
<!--//eBook -->
<!-- ebook  barcode  eBarcode  -->
<input name="barcode" type="hidden" value="9788970129815"/>
<input name="ejkGb" type="hidden" value="KOR"/>
<input name="notAge" type="hidden" value="0 "/>
<input name="cartType" type="hidden" value="addMast"/>
<input name="qty" type="hidden" value="1"/>
<li>
<div class="cover">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9788970129815" onclick="javascript:ecommerceClickListGA('9788970129815', 'KOR', '. 1', '', '010301', '', '', '');">
<strong class="rank">6</strong>
<img alt=". 1" onerror="javascript:noImage(this,'L','KOR');" src="http://image.kyobobook.co.kr/images/book/large/815/l9788970129815.jpg"/>
</a>
<span class="check"><input name="indexCnt" title="  " type="checkbox" value="6"/></span>
<!--       -->
<div class="change">
<strong></strong><img alt=" " src="http://image.kyobobook.co.kr/ink/images/bestseller/icon_rank_up.gif"/>97





				</div>
<div class="button">
<a class="btn_small btn_blue4" href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9788970129815" onclick="javascript:ecommerceClickListGA('9788970129815', 'KOR', '. 1', '', '010301', '', '', '');" target="_blank"></a>
<a class="btn_small btn_blue4" href="javascript:previewN('9788970129815');"></a>
</div>
</div>
<div class="detail">
<div class="subtitle">








				</div>
<div class="title">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9788970129815" onclick="javascript:ecommerceClickListGA('9788970129815', 'KOR', '. 1', '', '010301', '', '', '');"><strong>. 1</strong></a>
<span class="icon">
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_freere.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_event03.gif"/>

In [ ]:
bestseller_list = bestseller.findAll("div", {"class": "detail"})
len(bestseller_list)
bestseller_list[0]

<div class="detail">
<div class="subtitle">




								 ,



				</div>
<div class="title">
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791157062560" onclick="javascript:ecommerceClickListGA('9791157062560', 'KOR', ' ', '', '17090303', '', '', '');"><strong> </strong></a>
<span class="icon">
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_freere.gif"/>
<img alt="" src="http://image.kyobobook.co.kr/ink/images/common/icon_m_deduction.gif"/>
</span>
</div>
<div class="author">







					<span class="popup_load uxOpenList">
</span>
<span class="line">|</span>

						<span class="line">|</span> 2022 03 25

				</div>
<div class="review">
<img alt="5  5" src="http://image.kyobobook.co.kr/ink/images/common/img_starating_a5.gif"/>
<a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&amp;ejkGb=KOR&amp;barcode=9791157062560#review">(2  )</a>
</div>
<div class="price">



						<strong class="book_price">14,400</strong>
<span class="dc_rate">[<strong>10</strong>% + <strong>5</strong>% ]</span>
<a href="javascript:goDetailProductNotAge('EBK','17090303','','0 ', 'N')" target="_self">
</a>
</div>
<div class="info">
								   <strong class="blue">( 1,)</strong><strong class="blue">   </strong>
							</div>
</div>

In [ ]:
title3_list = []
for b_detail in bestseller_list:
    temp = b_detail.find("div", {"class": "title"})
    title = temp.find("strong").text
    title3_list.append(title)
print(title3_list)

[' ', ' (40   )', '  ', '  ( HardCover)(2)', '  ', '. 1', '. 101:  ', ' ,  ', '(10     )', ' ', ' (30    )', '', ' (10     )( HardCover)', ' . 11(1 )', ' (  297)( HardCover)', ' ', '    ', '   . 1(20  )()', ' ', '  (100  : Gift Edition)( HardCover)']

In [ ]:
def no_space(text):
    text1 = re.sub('\nbsp: | &nbsp: | \n|\t|\r', '', text)
    text2 = re.sub('\n\n', '', text1)
    return text2

In [ ]:
def get_item(text, idx):
    text2 = ""
    cnt = 0
    for t in text:
        if( (len(text2) == 0) & (t == " ")):
            continue
        if( t == "\n"):
            continue
        if( cnt == idx-1):
            if(t != "|"):
                text2 = text2 + t
        if( t == '|'):
            cnt += 1
        if( cnt == idx):
            break
    return text2

In [ ]:
author_list = []
publisher_list = []
date_list = []
price_list = []

In [ ]:
import re
for b_detail in bestseller_list:
    temp = b_detail.find('div', {'class': 'author'})
    temp2 = temp.get_text()
    output = re.sub(r'', '', temp2)
    output = re.sub(r'', '', output)
    output = no_space(output)
    author = get_item(output, 1)
    author_list.append(author)
    publisher = get_item(output, 2)
    publisher_list.append(publisher)
    date = get_item(output, 3)
    date_list.append(date)

    temp3 = b_detail.find('div', {'class': 'price'})
    price = temp3.find('strong').text
    price_list.append(price)

In [ ]:
df3 = pd.DataFrame(
    {
        "TITLE": title3_list,
        "AUTHOR": author_list,
        "DATE": date_list,
        "PRICE": price_list,
        "PUBLISHER": publisher_list
    }
)

In [ ]:
df3

,TITLE,AUTHOR,DATE,PRICE,PUBLISHER
0,,,2022 03 25,"14,400",
1,(40 ),,2021 04 20,"12,600",
2,,,2021 10 28,"14,850",
3,( HardCover)(2),,2022 03 15,"44,640",
4,,,2021 12 17,"15,300",
5,. 1,,2018 03 09,"13,050",
6,. 101:,Eiichiro Oda,2022 03 24,"4,950",
7,",",,2022 01 17,"13,500",
8,(10 ),,2021 11 10,"14,400",
9,,,2022 02 10,"14,400",
10,(30 ),,2022 02 18,"14,400",
11,,,2022 02 14,"13,050",
12,(10 )( HardCover),,2021 01 13,"17,820",
13,. 11(1 ),Tatsuki Fujimoto,2022 03 22,"5,400",
14,( 297)( HardCover),,2021 07 27,"24,300",
15,,,2022 02 10,"16,200",
16,,,2022 03 30,"16,020",
17,. 1(20 )(),,2018 02 22,"14,220",
18,,Tatsuki Fujimoto,2022 03 22,"5,400",
19,(100 : Gift Edition)( Har...,,2021 12 25,"21,600",

In [ ]:
#6-(MLOps)

AI : HLP  (  )

  - eXploit ( use   ), eXplore ( use   )

: ) y=ax+b -> model / a, b -> parameter 

SW  <-> SW Art 
Art:  
:  
MLlOps: ML model  ->  

 :

In [ ]:
# 7

)   ( ?)

negative -> 

positive -> 

FP (false positive):  

-->     

-->      


 < -- > 

: lable  

: lable  


/5 26

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_diabetes

diabetes = load_diabetes()

In [ ]:
diabetes["target"]

array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
        69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
        68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
        87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
       259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
       128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
       150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
       200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
        42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
        83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
       104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
       173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
       107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
        60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
       197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
        59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
       237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
       143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
       142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
        77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
        78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
       154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
        71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
       150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
       145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
        94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
        60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
        31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
       114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
       191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
       244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
       263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
        77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
        58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
       140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
       219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
        43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
       140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
        84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
        94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
       220.,  57.])

In [ ]:
diabetes["data"]

array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
         0.01990842, -0.01764613],
       [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
        -0.06832974, -0.09220405],
       [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
         0.00286377, -0.02593034],
       ...,
       [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
        -0.04687948,  0.01549073],
       [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
         0.04452837, -0.02593034],
       [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
        -0.00421986,  0.00306441]])

In [ ]:
x, y = diabetes["data"], diabetes["target"]

In [ ]:
x[0], y[0]

(array([ 0.03807591,  0.05068012,  0.06169621,  0.02187235, -0.0442235 ,
        -0.03482076, -0.04340085, -0.00259226,  0.01990842, -0.01764613]),
 151.0)

In [ ]:
x[1], y[1]

(array([-0.00188202, -0.04464164, -0.05147406, -0.02632783, -0.00844872,
        -0.01916334,  0.07441156, -0.03949338, -0.06832974, -0.09220405]),
 75.0)

In [ ]:
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.2)

In [ ]:
len(x), len(train_x), len(test_x), len(train_y), len(test_y)

(442, 353, 89, 353, 89)

In [ ]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(train_x, train_y)

LinearRegression()

In [ ]:
regressor.coef_

array([ -35.8689599 , -240.16831814,  476.85296119,  336.13521971,
       -689.20573484,  411.18913772,   87.85058934,  125.05001114,
        810.21308743,   48.7943845 ])

In [ ]:
train_pred = regressor.predict(train_x)
test_pred = regressor.predict(test_x)
print(train_pred)

[116.66771754 149.23606072 172.71057094 158.48137174  70.24082084
 118.66634194 193.78422289 223.85883753 102.15147714 166.34132674
 132.73766629  75.52156744 125.44679932 219.07541968 276.07056273
 128.50799935 160.41851075 235.99904988 187.31757978 191.77442516
 152.47194496 173.92515043 111.48003822 167.72630499 137.45220379
 127.16670576  83.32806516 100.30971647 183.63370197 168.68920536
 134.65531947 147.6403095  176.13106824 191.51341759 208.36463105
  66.45087605 210.17815104 235.47464594 139.91823682 113.34457837
 150.61338271  65.34640508  74.1199625  155.75623049 122.49711048
  74.51796903 151.99504305  84.09866178 206.92037387 155.52647233
 267.81971387 115.1471749  105.88490773  86.92823501  77.06679482
 106.34595306 149.06591967  77.63434207 113.77110323 101.11176508
 114.29817211 152.35587001 137.95601216 194.97772726 219.29524068
 197.30307847  95.07153711 166.87383097  42.5502987   62.33049665
 102.15277624 175.47603909 146.90673972 164.04912235 172.07046551
 185.47742669 215.65670858 194.21709792 155.35139368 100.11568
 103.5693805  209.20153     73.96087808 139.82486332 260.59638058
 158.6309135  163.83829368 155.63864127 125.59407409 146.61148733
 119.9470119  234.05459176 245.05154279 188.83041311 162.42562252
  74.7362437  113.06782796 191.08012498 153.32726743 127.04050912
 117.83928392 172.29969814 138.20870913 209.60416758 210.56745636
 114.40436214 143.79387482 126.52528972 172.12099353  79.16238446
 170.04498221 182.42206662  54.94114607 176.00454089 110.98437322
 217.85110554 123.56052527 149.48006197 173.564256   173.40549672
 194.24863455 109.70021166 181.69849414  51.71825766 124.81786152
 146.32620826 192.37467145 113.37942561 105.05071487 156.81226441
 114.44372352 169.79534688 154.27470078 196.04173044 171.96110436
 143.0898507  144.31934698 228.17061349 192.33239271 178.52840906
 222.44026958 229.72769692 128.83739707 261.56063202 215.25197758
 196.22319081 168.64423178 202.6330058  187.28790486 219.08206169
 217.12924212 187.49507094 211.04132534 168.17991275 161.81128693
 129.23317281 173.39998933 193.58859658 116.07934275  58.22741109
  85.45791939 214.84616403 176.08785834 135.83974488 237.28445568
 186.23967978 135.32610003  79.4575282  120.11118241 213.83182066
 157.21638622 251.73296255  72.28335989  86.83763593 252.08444405
 164.52077254  58.79713314  94.88139106 171.33875856 150.87983913
  78.61320607 230.81360118 114.62490477 120.09266074 156.76519127
 278.31703997 157.02556144 198.06068791 103.18951114 126.16369139
 167.00168308 153.60316455 118.94111578 115.66521964 259.09050872
 166.99077697 197.30645166 198.24001344 186.69055767 129.60744004
 122.93632626 218.89270868 134.75925204 180.87008387 159.1076026
 170.39520608 165.39152691 256.84625883  45.74603521 165.89753311
  57.88277522 153.76181137 163.49529831  60.16654358 166.72158395
 295.52843631 254.09034186 137.41219014 104.44216036  63.75044424
 288.54508155 211.33472013 173.62555806  67.91107186 143.28814327
 239.23271644 199.87199578 201.1290096  156.3596576   91.1889435
  82.75864257 162.2854985  234.21464814 140.26919336 201.02728986
 203.33419892  99.55307456 175.31435119 135.65888215 160.65799771
 162.06644894  30.22461271 126.34348671  92.96038502 146.42286964
  82.48524819 124.27056381 170.43291773  69.88101804 237.68948208
 124.32236333 164.74372994 190.17970421 208.87300389 196.24919705
 137.86148257 215.8966705   75.48996609 122.73185168 238.97421874
 142.74256694  58.98376243 236.18498077  49.1026296  116.26924542
 215.08700113 238.15039023 111.72540788 137.39830237 266.14003158
 198.19667981  76.25402902 153.46996379 163.77363589 117.47617835
 129.90131269 258.08487579 199.65596094 122.93590411 139.66220359
 152.83862796 169.79884396  79.2354015  198.80761385 261.51756124
 144.5400452   88.34537491  68.79727144 152.10316214  38.44192695
 119.23818938 144.89797576 107.31278506  98.43061421 105.73878504
 208.31467932 101.89378823 199.13751318 198.40793392 167.19058356
 144.2223738   88.66656543 179.48613721  66.00203166 282.60454868
 177.96578186 167.98974676 102.55998885  89.02957566 207.44260323
 172.44728794 250.43067229 246.91319975  59.62636067 244.06878602
 180.69232459  98.03926042 121.18326849 158.26087641 111.99413575
 105.15503042  99.31827609 112.94156836  53.79009396 201.82525505
 105.06839318 130.1440122  138.10687137 251.34408023 219.71449283
 159.09970043  65.94618778  88.05326793 187.19412303 144.74519835
 152.97359721 111.86508256 115.10025218 217.15780069  77.88919132
 147.42854647 203.61192587 231.41144791 123.41422378 211.29072303
  65.65011425  73.81872657 147.39164785 227.42754328  83.3130427
  97.65109778  96.95902759 157.49216676]

In [ ]:
print(test_pred)

[191.10782758  80.88416527 184.26284311 178.6090434  160.53753461
 123.89844638 105.44703975 222.17487054 100.33976595 118.56603579
 281.77102111 128.22227712 156.16294102 187.96183033 208.27472693
 179.61930693 140.93015714 128.1206486  159.05706803 233.96480791
 115.69663107 246.73581597 148.15065437 118.38837856  83.50087442
  92.60192686  98.31835701 140.94765213 222.52733811 177.07678414
  77.9324008  117.11144683 102.02472711 258.74861911  86.18044834
 111.50903247  78.23426519 141.73332119 222.04339138  91.06952157
 165.12943265  76.586153   176.79842334 182.46553753 249.65970281
 121.8227827  217.02640528 201.73660671 171.0708155  159.88373339
 171.21870309 169.17864835 157.01219467 150.37612551 254.8396401
 116.60177129  59.62231095 223.39466742 192.33225059  93.38219783
 237.87496378  75.24058212 205.41900681  95.16182199 129.32725294
 166.89721588 192.84726229  76.21098899  86.38144777 176.08152991
 252.58732958 262.16416305  84.22739757 117.53171949 223.58534891
 226.41634631 120.45544336 135.71402337  39.24667074  54.30340206
 203.43975088 134.46362912 105.94366309 136.70178008 178.46858031
 135.34253317 113.66630704 237.48721247 118.643903  ]

In [ ]:
from sklearn.metrics import mean_squared_error

train_mse = mean_squared_error(train_pred, train_y)
test_mse = mean_squared_error(test_pred, test_y)
print(train_mse, test_mse)

2876.9596267242605 2880.083649254498

11

![image.png]()

Bootstrap

![image.png]()

Adaboost :        .

![image.png]()

![image.png]()

input: 
Output: 
ex) 10000  1000  B
->  
->

In [37]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [38]:
from google.colab import drive
drive.mount('/BigData')
from google.colab import files
files.upload()

Drive already mounted at /BigData; to attempt to forcibly remount, call drive.mount("/BigData", force_remount=True).

{}

In [39]:
data = pd.read_csv("kc_house_data.csv")
data.head()
data.tail()
data.shape

(21613, 14)

In [40]:
n = data.shape[0] # No of 
m = data.shape[1] # No of 
print('Attributes: %d' %m, 'Data: %d' %n)

Attributes: 14 Data: 21613

In [41]:
# data cleaning -> id, date, zipcode, lattitude, longitude 
data = data.drop(['id', 'date', 'zipcode', 'lat', 'long'], axis = 1)

In [42]:
n = data.shape[0]
m = data.shape[1]
print('Attributes: %d' %m, 'Data: %d' %n)

Attributes: 9 Data: 21613

In [43]:
feature_columns = list(data.columns.difference(['price']))
x = data[feature_columns]
y = data['price']
# train:test = 7:3
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.3, random_state = 42)
len(train_x), len(test_x), len(train_y), len(test_y)

(15129, 6484, 15129, 6484)

In [44]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(train_x, train_y)

LinearRegression()

In [45]:
train_pred = regressor.predict(train_x)
test_pred = regressor.predict(test_x)

print(train_pred, test_pred)

[ 718612.57288289  583162.20845483  580770.98393422 ...  308151.68024295
 -132165.16277028  297325.31617448] [ 562774.88835353  711422.76107068 1118395.8968444  ...  325841.31615172
  908826.64428964  434544.24125533]

In [46]:
from sklearn.metrics import mean_squared_error
from math import sqrt

train_mse = mean_squared_error(train_pred, train_y)
test_mse = mean_squared_error(test_pred, test_y)
print(sqrt(train_mse), sqrt(test_mse))

230186.80162073454 239804.2967085815

In [47]:
bagging_predict_result = []
for _ in range (10):
    #    
    data_index = [data_index for data_index in range(train_x.shape[0])]
    random_data_index = np.random.choice(data_index, train_x.shape[0])
    print(len(set(random_data_index))/train_x.shape[0])

0.6264789477163064
0.6314363143631436
0.6342785379073302
0.6302465463679027
0.632031198360764
0.6315685108070593
0.6366580738978121
0.6319651001388062
0.6307753321435653
0.6354683059025712

In [56]:
# 
sm_train_x = train_x.iloc[random_data_index]
sm_train_y = train_y.iloc[random_data_index]

regressor = LinearRegression()
regressor.fit(sm_train_x, sm_train_y)

#   
sm_test_pred = regressor.predict(test_x)
bagging_predict_result.append(sm_test_pred)
print(sqrt(mean_squared_error(sm_test_pred, test_y)))

239910.0202826231

In [57]:
bagging_predict = []

for i in range(test_x.shape[0]):
    temp_predict = []
    for k in range(len(bagging_predict_result)):
        temp_predict.append(bagging_predict_result[k][i])
    bagging_predict.append(np.mean(temp_predict))

print(sqrt(mean_squared_error(bagging_predict, test_y)))

239910.0202826231

In [67]:
from sklearn.ensemble import BaggingRegressor

regressor = LinearRegression()
bagging_model = BaggingRegressor(base_estimator = regressor,
                                 n_estimators = 5,
                                 verbose = 1)
model = bagging_model.fit(train_x, train_y)
pred = model.predict(test_x)
print("RMSE: {}", format(sqrt(mean_squared_error(pred, test_y))))

RMSE: {} 240012.58222909103

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

In [65]:
from sklearn.ensemble import BaggingRegressor

regressor = LinearRegression()
bagging_model = BaggingRegressor(base_estimator = regressor,
                                 n_estimators = 30,
                                 verbose = 1)
model = bagging_model.fit(train_x, train_y)
pred = model.predict(test_x)
print(sqrt(mean_squared_error(pred, test_y)))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

239778.16927166487

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

In [70]:
from sklearn.tree import DecisionTreeRegressor

decision_tree = DecisionTreeRegressor()
model1 = decision_tree.fit(train_x, train_y)
pred1 = model1.predict(test_x)
print(sqrt(mean_squared_error(pred1, test_y)))

296395.3100639249

In [72]:
bagging_predict_result = []
for _ in range (10):
    #    
    data_index = [data_index for data_index in range(train_x.shape[0])]
    random_data_index = np.random.choice(data_index, train_x.shape[0])
    print(len(set(random_data_index))/train_x.shape[0])

    # 
    sm_train_x = train_x.iloc[random_data_index]
    sm_train_y = train_y.iloc[random_data_index]
    
    decison_tree = LinearRegression()
    decison_tree.fit(sm_train_x, sm_train_y)
    
    #   
    sm_test_pred = decison_tree.predict(test_x)
    bagging_predict_result.append(sm_test_pred)
    print(sqrt(mean_squared_error(sm_test_pred, test_y)))

0.6330226716901315
239883.51534515736
0.6325599841364268
240148.39742443545
0.6317668054729327
240901.6048687237
0.637120761451517
240228.23620990533
0.6349395201269086
239934.03755209997
0.6311058232533545
239609.43367830446
0.6316346090290171
240213.75606822016
0.6312380196972701
239670.11535206178
0.6332870645779628
239703.82241402566
0.6279992068213365
240465.5107780606

In [74]:
from sklearn.tree import DecisionTreeRegressor 

decision_tree = DecisionTreeRegressor()
bagging_model = BaggingRegressor(base_estimator = decision_tree,
                                 n_estimators = 5,
                                 verbose = 1)
model = bagging_model.fit(train_x, train_y)
pred = model.predict(test_x)
print(sqrt(mean_squared_error(pred, test_y)))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

243345.94753227336

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.4s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

In [78]:
from sklearn.tree import DecisionTreeRegressor 

decision_tree = DecisionTreeRegressor()
bagging_model = BaggingRegressor(base_estimator = decision_tree,
                                 n_estimators = 100,
                                 verbose = 1)
model = bagging_model.fit(train_x, train_y)
pred = model.predict(test_x)
print(sqrt(mean_squared_error(pred, test_y)))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

232549.28455965745

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    3.7s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s finished

 Decision tree Linear regression  Bagging .

![image.png]()

 f  a     w  classifier w          

a:   
w: